.l-stacked .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-stacked .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-stacked.fixed {
    position: relative;
  }
  .l-stacked.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-top-nav {
  padding-top: 65px;
}
.l-top-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-top-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-top-nav.fixed {
    position: relative;
  }
  .l-top-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-top-nav nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 65px;
}
.l-right-top-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-right-top-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-right-top-nav.fixed {
    position: relative;
  }
  .l-right-top-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-right-top-nav header {
  width: 192px;
  margin: 0 0 0 -192px;
  left: 192px;
  z-index: 2;
}
@media all and (min-width: 840px) {
  .l-right-top-nav.fixed header {
    width: 50%;
    left: -36px;
  }
  .l-right-top-nav.fixed header > section {
    padding-left: 228px;
  }
  .l-right-top-nav.fixed header .max-width {
    width: 192px;
    padding: 0;
    position: relative;
    margin-left: 0;
    left: auto;
    float: right;
  }
}
.l-right-top-nav nav > section {
  padding-left: 192px;
}
@media all and (min-width: 840px) {
  .l-right-top-nav.fixed nav {
    margin-left: -50%;
    left: 192px;
  }
}
.l-right-top-nav main {
  clear: left;
}
.l-left-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-left-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-left-nav.fixed {
    position: relative;
  }
  .l-left-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-left-nav nav {
  width: 275px;
  margin: 0 0 0 -275px;
  left: 275px;
  z-index: 2;
}
@media all and (min-width: 840px) {
  .l-left-nav.fixed nav {
    width: 50%;
    left: 130px;
  }
  .l-left-nav.fixed nav > section {
    padding-left: 145px;
  }
  .l-left-nav.fixed nav .max-width {
    width: 275px;
    padding: 0;
    position: relative;
    margin-left: 0;
    left: auto;
    float: right;
  }
}
.l-left-nav main > section {
  padding-left: 275px;
}
@media all and (min-width: 840px) {
  .l-left-nav.fixed main {
    margin-left: -50%;
    left: 275px;
  }
}
.l-left-nav nav,
.l-left-nav footer {
  clear: left;
}
.l-right-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-right-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-right-nav.fixed {
    position: relative;
  }
  .l-right-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-right-nav nav {
  width: 275px;
  margin: 0 0 0 -275px;
  left: 275px;
  z-index: 2;
}
@media all and (min-width: 840px) {
  .l-right-nav.fixed nav {
    width: 50%;
    left: 130px;
  }
  .l-right-nav.fixed nav > section {
    padding-left: 145px;
  }
  .l-right-nav.fixed nav .max-width {
    width: 275px;
    padding: 0;
    position: relative;
    margin-left: 0;
    left: auto;
    float: right;
  }
}
.l-right-nav main > section {
  padding-left: 275px;
}
@media all and (min-width: 840px) {
  .l-right-nav.fixed main {
    margin-left: -50%;
    left: 275px;
  }
}
.l-right-nav nav,
.l-right-nav footer {
  clear: left;
}
.l-fix-left-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-fix-left-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-fix-left-nav.fixed {
    position: relative;
  }
  .l-fix-left-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-fix-left-nav header > section {
  padding-left: 275px;
}
.l-fix-left-nav main > section {
  padding-left: 275px;
}
.l-fix-left-nav footer > section {
  padding-left: 275px;
}
.l-fix-left-nav nav {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 275px;
  z-index: 2;
}
.l-fix-left-nav nav > section {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
}
@media all and (min-width: 840px) {
  .l-fix-left-nav.fixed nav {
    position: fixed;
    width: 50%;
    left: -145px;
  }
  .l-fix-left-nav.fixed nav > section {
    padding-left: 145px;
  }
  .l-fix-left-nav.fixed nav .max-width {
    position: relative;
    width: 275px;
    padding: 0;
    float: right;
    margin-left: 0;
    left: auto;
  }
}
.l-fix-left-nav nav {
  clear: left;
}
