body {
  color: #444;
  background-color: #ededed;
  font: normal 16px sans-serif;
}
div {
  position: relative;
  width: 100%;
  float: left;
}
.block {
  width: 640px;
  left: -320px;
  margin-left: 50%;
}
