doctype html
html
  head
    title AnchorLess | Test
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
    link(href='../css/uno.css', rel='stylesheet')
    script(src='../js/libs/jquery-1.11.1.min.js')
  body.uno.l-stacked
    main
      section
        .m-test
          h1.heading.primary Test
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    script.
