* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font: 62.5% Arial;
}
body {
  line-height: 1.5;
  text-align: left;
}
address,
article,
aside,
audio,
blockquote,
canvas,
div,
dl,
dt,
dd,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
label,
legend,
li,
main,
nav,
ol,
pre,
section,
small,
ul,
video {
  display: block;
  width: 100%;
  position: relative;
  float: left;
}
code,
pre {
  font-size: 1em;
  font-family: monospace;
}
blockquote,
q {
  quotes: none;
}
caption,
strong {
  font-weight: bold;
}
em,
i {
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 3em;
  line-height: 1;
  padding: .5em 0 0;
  margin: 0 0  .5em;
}
h2 {
  font-size: 2.5em;
  line-height: 1.2;
  padding: .2em 0 0;
  margin: 0 0  .4em;
}
h3 {
  font-size: 2em;
  line-height: 1.5;
  padding: .25em 0 0;
  margin: 0 0  .5em;
}
h4 {
  font-size: 1.5em;
  line-height: 1;
  padding: .35em 0 0;
  margin: 0 0 .65em;
}
h5 {
  font-size: 1.2em;
  line-height: 1.25;
  padding: .45em 0 0;
  margin: 0 0  .8em;
}
h6,
p {
  font-size: 1em;
  line-height: 1.5;
  padding: 0 0 0;
  margin: 0 0 1.5em;
}
hr {
  display: block;
  height: 1px;
  margin: 0 0 1.45em;
  padding: 0;
  background: #ccc;
  border: 0;
}
iframe {
  height: 100%;
}
img {
  display: inline-block;
  border: 0;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
label,
textarea {
  vertical-align: top;
}
li {
  list-style: none outside none;
}
p {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: justify;
}
sub,
sup {
  position: relative;
  font-size: 0.8em;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
textarea {
  width: 100%;
  padding-bottom: 0.6em;
  resize: vertical;
  overflow: auto;
}
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active,
a:hover,
a:focus {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
html textarea,
select[multiple] {
  height: auto;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto !important;
  height: auto;
  cursor: pointer;
}
input[type="file"] {
  width: auto;
  cursor: pointer;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset,
button::-moz-focus-inner,
.button::-moz-focus-inner {
  border: 0;
}
a,
.link {
  background-color: transparent;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  width: auto;
  border: none;
  min-width: inherit;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.button {
  position: relative;
  display: inline-block;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  float: none;
  cursor: pointer;
  outline: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0 1.2em;
}
.button.looser {
  padding: 0 3.6em;
}
.button.loose {
  padding: 0 2.4em;
}
.button.tight {
  padding: 0 0.6em;
}
.button.tighter {
  padding: 0 0.3em;
}
.button.none {
  padding: 0;
}
blockquote {
  padding-left: 1em;
}
input,
.input,
select,
.select,
textarea {
  height: 32px;
  padding: 0 0.6em;
  font-size: 1em;
  line-height: 30px;
  width: 100%;
  color: #222222;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
input.error,
.input.error,
select.error,
.select.error,
textarea.error {
  color: #d1302b;
  background-color: #FDF7F7;
  border: 1px solid #dd7f7f;
}
input.warning,
.input.warning,
select.warning,
.select.warning,
textarea.warning {
  color: #cd7901;
  background-color: #FCF8F2;
  border: 1px solid #e9a23c;
}
input.success,
.input.success,
select.success,
.select.success,
textarea.success {
  color: #1e9a20;
  background-color: #ecfae9;
  border: 1px solid #78c575;
}
input.info,
.input.info,
select.info,
.select.info,
textarea.info {
  color: #0990b7;
  background-color: #F4F8FA;
  border: 1px solid #11a0ca;
}
.uno .list > li,
ul > li,
ol > li {
  display: list-item;
}
.uno .list.bullet > li,
ul.bullet > li,
ol.bullet > li {
  list-style: none inside url('../images/bullet.png');
}
.uno .list.square > li,
ul.square > li,
ol.square > li {
  list-style: square inside;
}
.uno .list.circle > li,
ul.circle > li,
ol.circle > li {
  list-style: circle inside;
}
.uno .list.disc > li,
ul.disc > li,
ol.disc > li {
  list-style: disc inside;
}
.uno .list.decimal > li,
ul.decimal > li,
ol.decimal > li {
  list-style: decimal inside;
}
.uno .list.none > li,
ul.none > li,
ol.none > li {
  list-style: none inside;
}
.uno .list.inherit > li li,
ul.inherit > li li,
ol.inherit > li li {
  list-style: inherit;
}
.uno .list.indent > li,
ul.indent > li,
ol.indent > li,
.uno .list.indent.inherit li,
ul.indent.inherit li,
ol.indent.inherit li {
  padding-left: 18px;
}
.table,
table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  float: left;
}
.table thead tr th,
table thead tr th,
.table thead tr th a,
table thead tr th a {
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}
.table tfoot tr td,
table tfoot tr td {
  text-align: left;
  vertical-align: top;
}
.table thead tr th[colspan],
table thead tr th[colspan] {
  text-align: center;
}
.table thead tr th.wide,
table thead tr th.wide {
  width: 100%;
}
.table thead tr th.medium,
table thead tr th.medium {
  width: 50%;
}
.table thead tr th.default,
table thead tr th.default {
  width: 12em;
}
.table thead tr th.short,
table thead tr th.short {
  width: 5em;
}
.table thead tr th.shorter,
table thead tr th.shorter {
  width: 3em;
}
.table thead tr th.auto,
table thead tr th.auto {
  width: auto;
}
.table.link-block tr td > a,
table.link-block tr td > a {
  display: block;
}
.table.even tr:nth-child(even) td,
table.even tr:nth-child(even) td,
.table.even tr.even td,
table.even tr.even td {
  color: inherit;
  background-color: #eeeeee;
}
.table.striped tr:nth-child(odd) td,
table.striped tr:nth-child(odd) td,
.table.striped tr.odd td,
table.striped tr.odd td {
  color: inherit;
  background-color: #eeeeee;
}
.table.horizontal,
table.horizontal {
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #cccccc;
}
.table.horizontal tr th,
table.horizontal tr th,
.table.horizontal tr td,
table.horizontal tr td {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #cccccc;
}
.table.vertical,
table.vertical {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #cccccc;
}
.table.vertical tr th,
table.vertical tr th,
.table.vertical tr td,
table.vertical tr td {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #cccccc;
}
.table.bordered,
table.bordered {
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #cccccc;
}
.table.bordered tr th,
table.bordered tr th,
.table.bordered tr td,
table.bordered tr td {
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #cccccc;
}
.table.rounded tr:first-child th:first-child,
table.rounded tr:first-child th:first-child {
  border-top-left-radius: 5px;
}
.table.rounded tr:first-child th:last-child,
table.rounded tr:first-child th:last-child {
  border-top-right-radius: 5px;
}
.table.rounded tr:last-child td:first-child,
table.rounded tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
.table.rounded tr:last-child td:last-child,
table.rounded tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
.badge {
  position: absolute;
  display: block;
  width: auto;
}
.breadcrumb li {
  width: auto;
}
.breadcrumb li a {
  display: block;
}
.button-group {
  text-align: right;
}
.button-group .button {
  width: auto;
  min-width: 100%;
}
@media only all and (min-width: 480px) {
  .button-group .button {
    min-width: 21%;
    margin-left: 0.6em;
  }
  .button-group .button:first-child {
    margin-left: 0;
  }
}
.items-wrapper.horizontal .button,
.items-wrapper.horizontal > * {
  display: block;
  width: auto;
  border-left-width: 0;
  margin: 0;
  border-radius: 0;
  float: left;
}
.items-wrapper.horizontal :first-child {
  border-left-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.items-wrapper.horizontal :last-child,
.items-wrapper.horizontal .last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.items-wrapper.vertical .button,
.items-wrapper.vertical > * {
  display: block;
  width: 100%;
  border-top-width: 0;
  margin: 0;
  border-radius: 0;
}
.items-wrapper.vertical :first-child {
  border-top-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.items-wrapper.vertical :last-child,
.items-wrapper.vertical .last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form label.wide {
  width: 100%;
}
.form label.medium {
  width: 50%;
}
.form label.default {
  width: 12em;
}
.form label.short {
  width: 5em;
}
.form label.shorter {
  width: 3em;
}
.form label.auto {
  width: auto;
}
.form label label {
  display: block;
  margin: 0 !important;
  padding: 2px .75em;
  font-size: .96em;
}
.form label label.error {
  color: #d1302b;
  background-color: #FDF7F7;
  border: 1px solid #dd7f7f;
}
.form label label.warning {
  color: #cd7901;
  background-color: #FCF8F2;
  border: 1px solid #e9a23c;
}
.form label label.success {
  color: #1e9a20;
  background-color: #ecfae9;
  border: 1px solid #78c575;
}
.form label label.info {
  color: #0990b7;
  background-color: #F4F8FA;
  border: 1px solid #11a0ca;
}
.form li {
  margin-top: 0.2em;
  line-height: 1.25;
}
.form li > div {
  float: right;
}
.form li > div > span {
  display: inline-block;
  float: left;
}
.form li > div label {
  margin-bottom: .5em;
}
.form li > strong,
.form li > div > span {
  padding: .4em .6em .2em .2em;
}
.form li > strong span,
.form li > div label span {
  display: block;
  font-size: .96em;
}
@media print, screen and (min-width: 640px) {
  .form.horizontal li > strong {
    display: block;
    width: 36%;
    float: left;
  }
  .form.horizontal li > div {
    width: 64%;
  }
}
@media print, screen and (min-width: 720px) {
  .form.horizontal li > strong {
    display: block;
    width: 18%;
    float: left;
  }
  .form.horizontal li > div {
    width: 82%;
  }
}
.form.horizontal li > strong {
  display: block;
  float: left;
}
@media print, screen and (min-width: 640px) {
  .form.horizontal .split-2 li > strong {
    display: block;
    width: 36%;
    float: left;
  }
  .form.horizontal .split-2 li > div {
    width: 64%;
  }
}
@media print, screen and (min-width: 720px) {
  .form.horizontal .split-2 li > strong {
    display: block;
    width: 35.6%;
    float: left;
  }
  .form.horizontal .split-2 li > div {
    width: 63.4%;
  }
}
@media print, screen and (min-width: 640px) {
  .form.horizontal .split-3 li > strong {
    display: block;
    width: 36%;
    float: left;
  }
  .form.horizontal .split-3 li > div {
    width: 64%;
  }
}
@media print, screen and (min-width: 720px) {
  .form.horizontal .split-3 li > strong {
    display: block;
    width: 56%;
    float: left;
  }
  .form.horizontal .split-3 li > div {
    width: 44%;
  }
}
.message .button.close {
  width: 28px;
  height: 28px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url('data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///wAAAAAAACH5BAEAAAIALAAAAAALAAsAAAIXBIQpxrr2DmoT0sSgiztqbH1Xc1UlWAAAOw==') no-repeat center;
  border: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
}
.message .button.close:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.navbar li a,
.navbar > ul > li {
  display: block;
}
.navbar.accordion li {
  width: 100%;
}
.navbar.accordion li:hover > ul {
  display: block;
  z-index: 2;
}
.navbar.accordion ul ul {
  display: none;
}
.navbar.dropdown li {
  width: auto;
}
.navbar.dropdown ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.navbar.dropdown ul ul ul {
  position: absolute;
  top: 0;
  left: 100%;
}
.navbar.dropdown li:hover > ul {
  position: absolute;
  bottom: 0;
  display: block;
  z-index: 2;
}
.navbar.rightalign li {
  width: 100%;
}
.navbar.rightalign ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}
.navbar.rightalign ul ul ul {
  position: absolute;
  top: 0;
  left: 100%;
}
.navbar.rightalign li:hover > ul {
  position: absolute;
  bottom: 0;
  display: block;
  z-index: 2;
}
.tabset .summary a {
  display: block;
}
.tabset.horizontal {
  text-align: left;
}
.tabset.horizontal > .summary {
  display: inline-block;
  width: auto;
  text-align: center;
  float: none;
}
.tabset.horizontal > .summary a {
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tabset.horizontal > .summary + .details {
  position: absolute;
  height: 1px;
  overflow: hidden;
  border-top: 1px solid transparent;
}
.tabset.horizontal > .summary.active + .details {
  position: relative;
  height: auto;
  overflow: visible;
}
.tabset.vertical {
  padding-right: 73%;
}
.tabset.vertical > .summary {
  display: inline-block;
  float: left;
}
.tabset.vertical > .summary a {
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tabset.vertical > .summary + .details {
  position: absolute;
  height: 1px;
  overflow: hidden;
  border-top: 1px solid transparent;
}
.tabset.vertical > .summary.active + .details {
  position: absolute;
  right: 0;
  height: auto;
  overflow: visible;
  width: 73%;
}
.tabset.left {
  padding-left: 27%;
}
.tabset.left > .summary {
  display: inline-block;
  width: 27%;
  clear: both;
  margin-left: -27%;
}
.tabset.left > .summary a {
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tabset.left > .summary + .details {
  position: absolute;
  top: 0;
  height: 1px;
  overflow: hidden;
  border-top: 1px solid transparent;
}
.tabset.left > .summary.active + .details {
  position: relative;
  overflow: visible;
}
html .auto {
  width: auto;
}
html .clearfix:after {
  content: '';
  display: table;
  clear: both;
}
html .caps {
  text-transform: capitalize;
}
html .collapse {
  margin: 0;
}
html .contract {
  padding: 0;
}
html .disabled,
html [disabled] {
  cursor: default;
}
html .fix-left-top {
  position: fixed;
  top: 0;
  left: 0;
}
html .fix-left-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}
html .fix-right-top {
  position: fixed;
  top: 0;
  right: 0;
}
html .fix-right-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}
html .hide,
html [hidden] {
  display: none;
}
html .invisible {
  visibility: hidden;
}
html .lowercase {
  text-transform: lowercase;
}
html .nowrap,
html .nowrap a {
  white-space: nowrap;
}
html .push-left {
  float: left;
}
html .pull-right {
  float: right;
}
html .to-left {
  margin-left: 0;
  left: 0;
  float: left;
}
html .to-right {
  margin-left: 0;
  left: 0;
  float: right;
}
html .show {
  display: block;
}
html .fastclick {
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
html .uppercase {
  text-transform: uppercase;
}
@media print, screen and (min-width: 560px) {
  .grid > * {
    width: 50%;
    margin-left: 0;
  }
  .grid.separate > * {
    width: 49%;
    margin-left: 2%;
  }
  .grid > .span-1,
  .split-3 > .span-2,
  .split-4 > .span-3,
  .split-5 > .span-3,
  .split-5 > .span-4,
  .split-6 > .span-4,
  .split-6 > .span-5,
  .split-7 > .span-4,
  .split-7 > .span-5,
  .split-7 > .span-6,
  .split-8 > .span-5,
  .split-8 > .span-6,
  .split-8 > .span-7,
  .split-9 > .span-5,
  .split-9 > .span-6,
  .split-9 > .span-7,
  .split-9 > .span-8,
  .split-10 > .span-6,
  .split-10 > .span-7,
  .split-10 > .span-8,
  .split-10 > .span-9 {
    width: 100%;
    margin-left: 0;
  }
  .split-3.separate > .span-2,
  .split-4.separate > .span-3,
  .split-5.separate > .span-3,
  .split-5.separate > .span-4,
  .split-6.separate > .span-4,
  .split-6.separate > .span-5,
  .split-7.separate > .span-4,
  .split-7.separate > .span-5,
  .split-7.separate > .span-6,
  .split-8.separate > .span-5,
  .split-8.separate > .span-6,
  .split-8.separate > .span-7,
  .split-9.separate > .span-5,
  .split-9.separate > .span-6,
  .split-9.separate > .span-7,
  .split-9.separate > .span-8,
  .split-10.separate > .span-6,
  .split-10.separate > .span-7,
  .split-10.separate > .span-8,
  .split-10.separate > .span-9 {
    width: 100%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 720px) {
  .split-3 > *,
  .split-4 > *,
  .split-5 > * {
    width: 33.333%;
    margin-left: 0;
  }
  .split-3.separate > *,
  .split-4.separate > *,
  .split-5.separate > * {
    width: 32%;
    margin-left: 2%;
  }
  .split-6 > *,
  .split-7 > *,
  .split-8 > *,
  .split-9 > *,
  .split-10 > * {
    width: 25%;
    margin-left: 0;
  }
  .split-6.separate > *,
  .split-7.separate > *,
  .split-8.separate > *,
  .split-9.separate > *,
  .split-10.separate > * {
    width: 23.5%;
    margin-left: 2%;
  }
  .split-3 > .span-2,
  .split-5 > .span-3 {
    width: 66.667%;
    margin-left: 0;
  }
  .split-6 > .span-4,
  .split-7 > .span-5,
  .split-8 > .span-5,
  .split-8 > .span-6,
  .split-9 > .span-5,
  .split-9 > .span-6,
  .split-10 > .span-6 {
    width: 75%;
    margin-left: 0;
  }
  .split-3.separate > .span-2,
  .split-5.separate > .span-3 {
    width: 66%;
    margin-left: 2%;
  }
  .split-6.separate > .span-4,
  .split-7.separate > .span-5,
  .split-8.separate > .span-5,
  .split-8.separate > .span-6,
  .split-9.separate > .span-5,
  .split-9.separate > .span-6,
  .split-10.separate > .span-6 {
    width: 74.5%;
    margin-left: 2%;
  }
}
@media print and (orientation: landscape), screen and (min-width: 800px) {
  .split-4 > * {
    width: 25%;
    margin-left: 0;
  }
  .split-4.separate > * {
    width: 23.5%;
    margin-left: 2%;
  }
  .split-5 > * {
    width: 20%;
    margin-left: 0;
  }
  .split-5.separate > * {
    width: 18.4%;
    margin-left: 2%;
  }
  .split-6 > * {
    width: 16.667%;
    margin-left: 0;
  }
  .split-6.separate > * {
    width: 15%;
    margin-left: 2%;
  }
  .split-7 > * {
    width: 14.286%;
    margin-left: 0;
  }
  .split-7.separate > * {
    width: 12.571%;
    margin-left: 2%;
  }
  .split-8 > * {
    width: 12.5%;
    margin-left: 0;
  }
  .split-8.separate > * {
    width: 10.75%;
    margin-left: 2%;
  }
  .split-9 > * {
    width: 11.111%;
    margin-left: 0;
  }
  .split-9.separate > * {
    width: 9.333%;
    margin-left: 2%;
  }
  .split-10 > * {
    width: 10%;
    margin-left: 0;
  }
  .split-10.separate > * {
    width: 8.2%;
    margin-left: 2%;
  }
  .split-4 > .span-3 {
    width: 75%;
    margin-left: 0;
  }
  .split-5 > .span-2 {
    width: 40%;
    margin-left: 0;
  }
  .split-5 > .span-3 {
    width: 60%;
    margin-left: 0;
  }
  .split-5 > .span-4 {
    width: 80%;
    margin-left: 0;
  }
  .split-6 > .span-2 {
    width: 33.333%;
    margin-left: 0;
  }
  .split-6 > .span-3 {
    width: 50%;
    margin-left: 0;
  }
  .split-6 > .span-4 {
    width: 66.667%;
    margin-left: 0;
  }
  .split-6 > .span-5 {
    width: 83.333%;
    margin-left: 0;
  }
  .split-7 > .span-2 {
    width: 28.571%;
    margin-left: 0;
  }
  .split-7 > .span-3 {
    width: 42.857%;
    margin-left: 0;
  }
  .split-7 > .span-4 {
    width: 57.143%;
    margin-left: 0;
  }
  .split-7 > .span-5 {
    width: 71.429%;
    margin-left: 0;
  }
  .split-7 > .span-6 {
    width: 85.714%;
    margin-left: 0;
  }
  .split-8 > .span-2 {
    width: 25%;
    margin-left: 0;
  }
  .split-8 > .span-3 {
    width: 37.5%;
    margin-left: 0;
  }
  .split-8 > .span-4 {
    width: 50%;
    margin-left: 0;
  }
  .split-8 > .span-5 {
    width: 62.5%;
    margin-left: 0;
  }
  .split-8 > .span-6 {
    width: 75%;
    margin-left: 0;
  }
  .split-8 > .span-7 {
    width: 87.5%;
    margin-left: 0;
  }
  .split-9 > .span-2 {
    width: 22.222%;
    margin-left: 0;
  }
  .split-9 > .span-3 {
    width: 33.333%;
    margin-left: 0;
  }
  .split-9 > .span-4 {
    width: 44.444%;
    margin-left: 0;
  }
  .split-9 > .span-5 {
    width: 55.556%;
    margin-left: 0;
  }
  .split-9 > .span-6 {
    width: 66.667%;
    margin-left: 0;
  }
  .split-9 > .span-7 {
    width: 77.778%;
    margin-left: 0;
  }
  .split-9 > .span-8 {
    width: 88.889%;
    margin-left: 0;
  }
  .split-10 > .span-2 {
    width: 20%;
    margin-left: 0;
  }
  .split-10 > .span-3 {
    width: 30%;
    margin-left: 0;
  }
  .split-10 > .span-4 {
    width: 40%;
    margin-left: 0;
  }
  .split-10 > .span-5 {
    width: 50%;
    margin-left: 0;
  }
  .split-10 > .span-6 {
    width: 60%;
    margin-left: 0;
  }
  .split-10 > .span-7 {
    width: 70%;
    margin-left: 0;
  }
  .split-10 > .span-8 {
    width: 80%;
    margin-left: 0;
  }
  .split-10 > .span-9 {
    width: 90%;
    margin-left: 0;
  }
  .split-4.separate > .span-3 {
    width: 74.5%;
    margin-left: 2%;
  }
  .split-5.separate > .span-2 {
    width: 38.8%;
    margin-left: 2%;
  }
  .split-5.separate > .span-3 {
    width: 59.2%;
    margin-left: 2%;
  }
  .split-5.separate > .span-4 {
    width: 79.6%;
    margin-left: 2%;
  }
  .split-6.separate > .span-2 {
    width: 32%;
    margin-left: 2%;
  }
  .split-6.separate > .span-3 {
    width: 49%;
    margin-left: 2%;
  }
  .split-6.separate > .span-4 {
    width: 66%;
    margin-left: 2%;
  }
  .split-6.separate > .span-5 {
    width: 83%;
    margin-left: 2%;
  }
  .split-7.separate > .span-2 {
    width: 27.143%;
    margin-left: 2%;
  }
  .split-7.separate > .span-3 {
    width: 41.714%;
    margin-left: 2%;
  }
  .split-7.separate > .span-4 {
    width: 56.286%;
    margin-left: 2%;
  }
  .split-7.separate > .span-5 {
    width: 70.857%;
    margin-left: 2%;
  }
  .split-7.separate > .span-6 {
    width: 85.429%;
    margin-left: 2%;
  }
  .split-8.separate > .span-2 {
    width: 23.5%;
    margin-left: 2%;
  }
  .split-8.separate > .span-3 {
    width: 36.25%;
    margin-left: 2%;
  }
  .split-8.separate > .span-4 {
    width: 49%;
    margin-left: 2%;
  }
  .split-8.separate > .span-5 {
    width: 61.75%;
    margin-left: 2%;
  }
  .split-8.separate > .span-6 {
    width: 74.5%;
    margin-left: 2%;
  }
  .split-8.separate > .span-7 {
    width: 87.25%;
    margin-left: 2%;
  }
  .split-9.separate > .span-2 {
    width: 20.667%;
    margin-left: 2%;
  }
  .split-9.separate > .span-3 {
    width: 32%;
    margin-left: 2%;
  }
  .split-9.separate > .span-4 {
    width: 43.333%;
    margin-left: 2%;
  }
  .split-9.separate > .span-5 {
    width: 54.667%;
    margin-left: 2%;
  }
  .split-9.separate > .span-6 {
    width: 66%;
    margin-left: 2%;
  }
  .split-9.separate > .span-7 {
    width: 77.333%;
    margin-left: 2%;
  }
  .split-9.separate > .span-8 {
    width: 88.667%;
    margin-left: 2%;
  }
  .split-10.separate > .span-2 {
    width: 18.4%;
    margin-left: 2%;
  }
  .split-10.separate > .span-3 {
    width: 28.6%;
    margin-left: 2%;
  }
  .split-10.separate > .span-4 {
    width: 38.8%;
    margin-left: 2%;
  }
  .split-10.separate > .span-5 {
    width: 49%;
    margin-left: 2%;
  }
  .split-10.separate > .span-6 {
    width: 59.2%;
    margin-left: 2%;
  }
  .split-10.separate > .span-7 {
    width: 69.4%;
    margin-left: 2%;
  }
  .split-10.separate > .span-8 {
    width: 79.6%;
    margin-left: 2%;
  }
  .split-10.separate > .span-9 {
    width: 89.8%;
    margin-left: 2%;
  }
}
.uno .grid.separate > :first-child,
.uno .grid.separate > .line-break,
.uno .grid > :first-child,
.uno .grid > .line-break {
  margin-left: 0;
  clear: left;
}
@media print {
  a {
    text-decoration: underline;
  }
  html,
  main,
  main > section {
    background: null none repeat 0 0;
    margin: 0;
    padding: 0;
  }
  header,
  main {
    width: 100%;
  }
  div {
    page-break-inside: auto;
    page-break-after: avoid;
  }
  .scrollable,
  .scrollable div {
    overflow-x: visible;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
  }
  .print-only {
    display: block;
  }
  header,
  nav,
  footer,
  .breadcrumb,
  .buttons,
  .filters,
  .message,
  .no-print {
    display: none;
  }
}
.scrollable {
  overflow: hidden;
}
.scrollable div {
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}
.scrollable div > table {
  margin: 0;
}
.scrollable.has-scroll:before {
  position: absolute;
  top: 0;
  left: 100%;
  width: 50px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: -5px 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 0 7px rgba(0, 0, 0, 0.15);
  content: '';
  z-index: 1;
}
.scrollable > div::-webkit-scrollbar {
  height: 12px;
}
.scrollable > div::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
  background: #f0f0f0;
}
.scrollable > div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ccc;
  z-index: 9999;
}
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 2;
}
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip.fixed:before,
.tooltip.fixed:after {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip:after {
  content: attr(data-hint);
  white-space: nowrap;
  pointer-events: none;
}
.ie8 .tooltip:before,
.ie8 .tooltip:after {
  display: none;
}
.ie8 .tooltip:hover:before,
.ie8 .tooltip:hover:after,
.ie8 .tooltip.fixed:before,
.ie8 .tooltip.fixed:after {
  display: block;
}
.tooltip.wrap:before,
.tooltip.wrap:after {
  text-align: left;
  white-space: normal;
}
.tooltip.up:before {
  margin-bottom: -8px;
}
.tooltip.up:after {
  margin-left: -1em;
}
.tooltip.up:before,
.tooltip.up:after {
  bottom: 100%;
  left: 50%;
}
.tooltip.up:hover:before,
.tooltip.up:hover:after,
.tooltip.fixed.up:before,
.tooltip.fixed.up:after {
  -webkit-transform: translate(0, -4px);
  -ms-transform: translate(0, -4px);
  transform: translate(0, -4px);
}
.tooltip.down:before {
  margin-top: -8px;
}
.tooltip.down:after {
  margin-left: -1em;
}
.tooltip.down:before,
.tooltip.down:after {
  top: 100%;
  left: 50%;
}
.tooltip.down:hover:before,
.tooltip.down:hover:after,
.tooltip.fixed.down:before,
.tooltip.fixed.down:after {
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.tooltip.right:before {
  margin-bottom: 0;
  margin-left: -8px;
}
.tooltip.right:after {
  margin-bottom: -1em;
}
.tooltip.right:before,
.tooltip.right:after {
  left: 100%;
  bottom: 50%;
}
.tooltip.right:hover:before,
.tooltip.right:hover:after,
.tooltip.fixed.right:before,
.tooltip.fixed.right:after {
  -webkit-transform: translate(6px, 0);
  -ms-transform: translate(6px, 0);
  transform: translate(6px, 0);
}
.tooltip.left:before {
  margin-bottom: 0;
  margin-right: -8px;
}
.tooltip.left:after {
  margin-bottom: -1em;
}
.tooltip.left:before,
.tooltip.left:after {
  right: 100%;
  bottom: 50%;
}
.tooltip.left:hover:before,
.tooltip.left:hover:after,
.tooltip.fixed.left:before,
.tooltip.fixed.left:after {
  -webkit-transform: translate(-6px, 0);
  -ms-transform: translate(-6px, 0);
  transform: translate(-6px, 0);
}
.l-stacked .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-stacked .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-stacked.fixed {
    position: relative;
  }
  .l-stacked.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-top-nav {
  padding-top: 65px;
}
.l-top-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-top-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-top-nav.fixed {
    position: relative;
  }
  .l-top-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-top-nav nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 65px;
}
.l-right-top-nav .fixed.max-width {
  width: 100%;
  left: 0;
  margin-left: 0;
}
.l-right-top-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-right-top-nav.fixed {
    position: relative;
  }
  .l-right-top-nav .fixed.max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-right-top-nav header {
  width: 192px;
  margin: 0 0 0 -192px;
  left: 192px;
  z-index: 2;
}
@media all and (min-width: 840px) {
  .l-right-top-nav.fixed header {
    width: 50%;
    left: -36px;
  }
  .l-right-top-nav.fixed header > section {
    padding-left: 228px;
  }
  .l-right-top-nav.fixed header .max-width {
    width: 192px;
    padding: 0;
    position: relative;
    margin-left: 0;
    left: auto;
    float: right;
  }
}
.l-right-top-nav nav > section {
  padding-left: 192px;
}
@media all and (min-width: 840px) {
  .l-right-top-nav.fixed nav {
    margin-left: -50%;
    left: 192px;
  }
}
.l-right-top-nav main {
  clear: left;
}
.l-left-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-left-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-left-nav.fixed {
    position: relative;
  }
  .l-left-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-left-nav nav {
  width: 275px;
  margin: 0 0 0 -275px;
  left: 275px;
  z-index: 2;
}
@media all and (min-width: 840px) {
  .l-left-nav.fixed nav {
    width: 50%;
    left: 130px;
  }
  .l-left-nav.fixed nav > section {
    padding-left: 145px;
  }
  .l-left-nav.fixed nav .max-width {
    width: 275px;
    padding: 0;
    position: relative;
    margin-left: 0;
    left: auto;
    float: right;
  }
}
.l-left-nav main > section {
  padding-left: 275px;
}
@media all and (min-width: 840px) {
  .l-left-nav.fixed main {
    margin-left: -50%;
    left: 275px;
  }
}
.l-left-nav nav,
.l-left-nav footer {
  clear: left;
}
.l-right-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-right-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-right-nav.fixed {
    position: relative;
  }
  .l-right-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-right-nav nav {
  width: 275px;
  margin: 0 0 0 -275px;
  left: 275px;
  z-index: 2;
}
@media all and (min-width: 840px) {
  .l-right-nav.fixed nav {
    width: 50%;
    left: 130px;
  }
  .l-right-nav.fixed nav > section {
    padding-left: 145px;
  }
  .l-right-nav.fixed nav .max-width {
    width: 275px;
    padding: 0;
    position: relative;
    margin-left: 0;
    left: auto;
    float: right;
  }
}
.l-right-nav main > section {
  padding-left: 275px;
}
@media all and (min-width: 840px) {
  .l-right-nav.fixed main {
    margin-left: -50%;
    left: 275px;
  }
}
.l-right-nav nav,
.l-right-nav footer {
  clear: left;
}
.l-fix-left-nav .fixed.max-width {
  width: 840px;
  left: -420px;
  margin-left: 50%;
}
.l-fix-left-nav .lined-up > li {
  width: auto;
}
@media all and (min-width: 840px) {
  .l-fix-left-nav.fixed {
    position: relative;
  }
  .l-fix-left-nav.fixed .max-width {
    width: 840px;
    left: -420px;
    margin-left: 50%;
    position: relative;
  }
}
.l-fix-left-nav header > section {
  padding-left: 275px;
}
.l-fix-left-nav main > section {
  padding-left: 275px;
}
.l-fix-left-nav footer > section {
  padding-left: 275px;
}
.l-fix-left-nav nav {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 275px;
  z-index: 2;
}
.l-fix-left-nav nav > section {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
}
@media all and (min-width: 840px) {
  .l-fix-left-nav.fixed nav {
    position: fixed;
    width: 50%;
    left: -145px;
  }
  .l-fix-left-nav.fixed nav > section {
    padding-left: 145px;
  }
  .l-fix-left-nav.fixed nav .max-width {
    position: relative;
    width: 275px;
    padding: 0;
    float: right;
    margin-left: 0;
    left: auto;
  }
}
.l-fix-left-nav nav {
  clear: left;
}
.icon:before {
  font: 1.6em / 1em 'FontAwesome';
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.icon {
  display: inline-block;
  position: relative;
  overflow: visible;
}
.icon:before {
  display: inline-block;
  content: '';
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}
.icon.align-right:before {
  right: 0;
}
.icon.align-left:before {
  left: 0;
}
.icon.search:before {
  content: "\f002";
}
.icon.back:before {
  content: "\f112";
}
.icon.menu:before {
  content: "\f0c9";
}
.icon.home:before {
  content: "\f015";
}
.icon.summary:before {
  content: "\f105";
}
.icon.summary.active:before {
  content: "\f107";
}
body {
  font: 1.6em / 1.5 Calibri, Helvetica, Arial, sans-serif;
  color: #c6c6c6;
  background-color: #2f2f2f;
}
header > section,
nav > section,
main > section,
footer > section {
  padding: 0 4%;
}
@media all and (min-width: 800px) {
  header > section,
  nav > section,
  main > section,
  footer > section {
    padding: 0 2%;
  }
}
a,
.link {
  color: #84bcde;
}
em {
  color: #fb292d;
}
hr {
  border-bottom: 1px solid #121212;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
}
::selection {
  color: #fff;
  background-color: #ee5358;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background-color: #ee5358;
  text-shadow: none;
}
.input,
.select,
input,
select,
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.input.focus,
.select.focus,
input.focus,
select.focus,
textarea.focus,
.input:focus,
.select:focus,
input:focus,
select:focus,
textarea:focus,
.input.hover,
.select.hover,
input.hover,
select.hover,
textarea.hover,
.input:hover,
.select:hover,
input:hover,
select:hover,
textarea:hover {
  border-color: #ae1f17;
}
.breadcrumb,
.button-group,
.pagination,
.panel,
.table {
  margin-bottom: 18px;
}
.breadcrumb.primary {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #f6f6f7;
}
.breadcrumb.primary li {
  padding: 6px 0 6px 12px;
  font-size: 12px;
  line-height: 20px;
}
.breadcrumb.primary li a {
  color: #888;
  padding-right: 14px;
  text-shadow: 0 1px #fff 0.3;
  position: relative;
}
.breadcrumb.primary li a:hover {
  color: #d9161c;
}
.breadcrumb.primary li a:after {
  color: #ccc;
  font-size: 1.2em;
  display: inline-block;
  content: '/';
  width: auto;
  height: 16px;
  vertical-align: middle;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  right: 0;
}
.button.primary {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.06);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.2em 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 1.4em a;
  font-family: inherit;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
}
.button.primary.big {
  padding: 0.5em 1em;
}
.button.secondary {
  font: bold 1em / 1 a;
  font-family: inherit;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.button.secondary:hover,
.button.secondary:focus {
  color: #fff;
  background-color: #ae1f17;
}
.button.secondary,
.button.secondary:active {
  color: #fff;
  background-color: #d9161c;
}
.button.secondary.big {
  padding: 1em 2em;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.heading.primary {
  font: 2.2em / 55px a;
  font-family: inherit;
  color: #fff;
  border-bottom: 1px solid #121212;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
}
.grid.primary li {
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #ccc;
  padding: 0.2em 0.25em 0 0.75em;
  min-height: 53px;
}
.grid.primary li strong {
  font: 0.86em a;
  font-family: inherit;
  color: #888;
}
.message.primary {
  margin-bottom: 18px;
  padding: 1em 28px 1em 1em;
  color: #222;
  background-color: #f6f6f7;
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #ccc;
  font-size: 0.96em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.message.primary.error {
  background-color: #FDF7F7;
  border-color: #d1302b;
}
.message.primary.error .heading,
.message.primary.error strong,
.message.primary.error a {
  color: #d1302b;
}
.message.primary.warning {
  background-color: #FCF8F2;
  border-color: #e9a23c;
}
.message.primary.warning .heading,
.message.primary.warning strong,
.message.primary.warning a {
  color: #e9a23c;
}
.message.primary.success {
  background-color: #effae0;
  border-color: #7bb903;
}
.message.primary.success .heading,
.message.primary.success strong,
.message.primary.success a {
  color: #7bb903;
}
.message.primary.info {
  background-color: #F4F8FA;
  border-color: #11a0ca;
}
.message.primary.info .heading,
.message.primary.info strong,
.message.primary.info a {
  color: #11a0ca;
}
.navbar.primary li a {
  font-size: 1.6em;
  color: #fff;
  padding: 7px 14px;
  text-shadow: 0px 0px 3px #000000;
}
.navbar.primary li:last-child a {
  padding-right: 0;
}
.navbar.primary li ul li a {
  font-size: 1em;
}
.pagination.primary .results {
  line-height: 32px;
}
.pagination.primary .pages {
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pagination.primary .pages span,
.pagination.primary .pages a {
  color: #444;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #bbb;
  width: auto;
  height: 32px;
  line-height: 32px;
  min-width: 32px;
  text-align: center;
  padding: 0 .6em;
  float: left;
}
.pagination.primary .pages a:first-child {
  border-width: 0;
}
.pagination.primary .pages .current {
  color: #fff;
  background-color: #d9161c;
}
.pagination.primary .pages a:hover {
  background-color: #ddd;
}
.panel.primary {
  background-color: #212121;
  padding: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.8) inset;
}
.panel.primary .title {
  font: 2em a;
  font-family: inherit;
  color: #fff;
  border-bottom: 1px solid #121212;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.07);
}
.panel.primary .fa {
  color: #fb292d;
  font-size: .86em;
}
.table.primary tr th,
.table.primary tr td {
  padding: 0.2em 0.7em;
}
@media all and (min-width: 800px) {
  .table.primary {
    font-size: 0.9em;
  }
}
.table.primary caption {
  color: #fff;
  background-color: #ee5358;
  padding: 0.35em;
  font: bold 1.2em a;
  font-family: inherit;
}
.table.primary thead tr th {
  color: #fff;
  background-color: #222;
}
.table.primary thead tr th a {
  color: #d9161c;
}
.table.primary thead tr th a:hover {
  color: #ae1f17;
}
.table.primary tbody tr:hover {
  color: #c6c6c6;
  background-color: #222;
}
.table.primary tbody tr.selected {
  color: #fff;
  background-color: #d9161c;
}
.tabset.primary > .summary {
  margin: 6px 1em 0 0;
  padding: 0;
  font-size: 1em;
}
.tabset.primary > .summary a:hover,
.tabset.primary > .summary.active {
  background: rgba(0, 0, 0, 0.3) none repeat 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.tabset.primary > .summary a {
  padding: 0.3em 0.7em;
}
.tooltip.primary:after {
  font: 14px / 1.2 a;
  font-family: inherit;
  color: #fff;
  background-color: #333;
  padding: 7px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tooltip.primary.up:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #333;
}
.tooltip.primary.down:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom-color: #333;
}
.tooltip.primary.right:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-right-color: #333;
}
.tooltip.primary.left:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #333;
}
.tooltip.primary.wrap:after {
  min-width: 160px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
}
pre {
  display: block;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
pre code {
  display: block;
  color: inherit;
  font-size: inherit;
  white-space: pre-wrap;
}
ul,
ol {
  margin-bottom: 18px;
}
.selector {
  color: #fb292d;
}
.mix {
  color: #dadbb1;
}
table tr .first {
  width: 33.33%;
}
hr {
  margin: -1px 0 0;
}
.button {
  text-decoration: none;
}
.badge {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 9px;
  height: 9px;
  position: absolute;
  right: -15px;
  top: 15px;
  background: #fb292d none repeat-x center;
  background-image: -webkit-linear-gradient(180deg, #fb292d, #bb0307);
  background-image: -moz-linear-gradient(180deg, #fb292d, #bb0307);
  background-image: linear-gradient(180deg, #fb292d, #bb0307);
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.m-brand h1 {
  text-align: center;
  margin: 0;
  text-shadow: 0px 0px 5px #000000;
}
.m-brand h1 a {
  color: #fff;
  word-spacing: -2px;
  letter-spacing: -1px;
  text-decoration: none;
}
.m-brand h1 img {
  margin: 0 7px -10px 0;
}
.m-brand .headline {
  text-align: center;
}
.l-top-nav .m-brand h1 {
  font-size: 4.8em;
}
.l-right-top-nav .m-brand {
  padding-top: 18px;
}
.l-right-top-nav .m-brand h1 {
  font-size: 1.6em;
  padding: 13px 0;
}
.l-right-top-nav .m-brand h1 a {
  letter-spacing: 0;
}
.l-right-top-nav .m-brand h1 img {
  width: 32px;
}
body.home .navbar .home a,
body.reference .navbar .reference a,
body.usage .navbar .usage a,
body.compiler .navbar .compiler a,
.navbar li a:hover {
  color: #fb292d;
}
nav > section {
  border-bottom: 1px solid #121212;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
}
.m-mainnav {
  padding-top: 18px;
}
.m-mainnav a {
  text-decoration: none;
}
.c-filters {
  display: none;
  border-right: 1px solid #121212;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.07) inset;
  padding-right: 18px;
}
@media all and (min-width: 800px) {
  .c-filters {
    display: block;
  }
}
.c-module .letter {
  padding: 0;
  font: 1.8em / 1 a;
  font-family: inherit;
}
.m-submenu {
  border-bottom: 1px solid #121212;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
}
.m-submenu a {
  margin-right: 1em;
  padding: 0.3em 0.7em;
}
.m-submenu a:hover,
.m-submenu a .current a {
  background: rgba(0, 0, 0, 0.3) none repeat 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.m-submenu-2 .title {
  font-size: 1.6em;
  text-align: right;
}
.m-submenu-2 li {
  text-align: right;
}
.m-submenu-2 li a {
  color: #c6c6c6;
  text-decoration: none;
}
.tabset > .details {
  margin-bottom: 80px;
}
footer > section {
  border-top: 1px solid #121212;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07) inset;
}
.m-legal {
  padding-top: 18px;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.less-error-message {
  display: none;
}
main .result {
  width: 100%;
  text-align: center;
}
main .result .box {
  display: inline-block;
  font-size: 2.6rem;
  float: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
main .toggle {
  text-align: right;
  font-size: 0.7em;
}
main code {
  display: block;
  padding: 1rem;
  overflow-y: auto;
  font-size: 18px;
  line-height: 22px;
  white-space: pre;
  border-radius: 5px;
  border: 1px solid transparent;
}
main code.less:hover,
main code.less:focus {
  color: #ffffe6;
  background-color: #212121;
  outline: 0;
}
