header
    section.max-width
        .m-brand
            h1.title
                a(href='#')
                    img(src=page.root + 'img/logo-main.png')
                    strong Anchor Less
            h2.headline 
                | The
                em  most extensive
                |  less mixins library
        .m-sidemenu.hide
            a(href="#").toggle.js-navbar
                i.fa.fa-bars