//
// Tables
// ----------------------------------------------------------------------- //

    .table {
        .back-color (@color: none, @rows: all) when not (@color = null) and not (@rows = all) {
            & tbody tr:nth-child(@{rows}) td,
            & tbody tr.@{rows} td { .back.color(@color); }
        }
        .back-color (@color: none, @rows: all) when not (@color = null) and (@rows = all) {
            & tbody tr td,
            & tbody tr td { .back.color(@color); }
        }
        .border (@width: 0, @style: none, @color: none) when not (@width = null) {
            &                   { border-width: @width; border-style: @style; border-color: @color; }
        }
        .cell-border (@width: 0, @style: none, @color: none) when not (@width = null) {
            & tr th,
            & tr td             { border-width: @width; border-style: @style; border-color: @color; }
        }
        .padding (@padding: 0) when not (@padding = null) {
            & thead th,
            & tbody td,
            & tfoot td          { padding: @padding; }
        }
        .rounded (@radius: none) when not (@radius = null) {  
            &                                       { .re-rounded(@radius); }
            & thead tr:first-child th:first-child   { .rounded.left-top(@radius); }
            & thead tr:first-child th:last-child    { .rounded.right-top(@radius); }
            & tbody tr:last-child  td:first-child   { .rounded.left-bottom(@radius); }
            & tbody tr:last-child  td:last-child    { .rounded.right-bottom(@radius); }
        }
    }

    .re-rounded (@radius)       { .rounded(@radius); }  // Avoids double name stack
