//
//  Pseudo-elements

//
//  .after(@content, @width, @height);
//   ------------------------------------------------------
//   @content       :  none|normal|counter|attr|string|open-quote|close-quote|no-open-quote|no-close-quote|url|initial|inherit
//   @width         :  auto|-length-|initial|inherit
//   @heigth        :  auto|-length-|initial|inherit

.after(@content:_, @width:_, @height:_) {
    
    @ruleset: {
        display: inline-block;
        content: @content;
        width: @width;
        & when not (@width=_) and (@height=_) {
            height: @width;
        }
        & when not (@height=_) {
            height: @height;
        }
    }

    .pseudo(after, @ruleset);
}

//
//  .before(@content, @width, @height);
//   ------------------------------------------------------
//   @content       :  none|normal|counter|attr|string|open-quote|close-quote|no-open-quote|no-close-quote|url|initial|inherit
//   @width         :  auto|-length-|initial|inherit
//   @heigth        :  auto|-length-|initial|inherit

.before(@content:_, @width:_, @height:_) {
    
    @ruleset: {
        display: inline-block;
        content: @content;
        width: @width;
        & when not (@width=_) and (@height=_) {
            height: @width;
        }
        & when not (@height=_) {
            height: @height;
        }
    }

    .pseudo(before, @ruleset);
}

//
//  .first-letter(@content, @width, @height);
//   ------------------------------------------------------

.first-letter(@size:_, @style:_, @color:_, @text-shadow:none) {
    
    @ruleset: {
        .text(@size, @style, @color);
        & when not (@text-shadow=_) {
            text-shadow: @text-shadow;
        }
    }

    .pseudo(first-letter, @ruleset);
}

//
//  .first-line(@content, @width, @height);
//   ------------------------------------------------------

.first-line(@size:_, @style:_, @color:_, @text-shadow:none) {
    
    @ruleset: {
        .text(@size, @style, @color);
        & when not (@text-shadow=_) {
            text-shadow: @text-shadow;
        }
    }

    .pseudo(first-line, @ruleset);
}

//
//  .placeholder(@text-color, @background-color, @text-shadow[, @min-query, @max-query]);
//   ------------------------------------------------------
//   @text-color        :  -color-|initial|inherit
//   @background-color  :  -color-|transparent|initial|inherit
//   @border-color      :  -color-|transparent|initial|inherit

.placeholder(@color:_, @background:_, @text-shadow: none, @min-query:_, @max-query:_) {

    @ruleset: {
        color: @color;
        background-color: @background;
        & when not (@text-shadow=_) {
            text-shadow: @text-shadow;
        }
    }

    // Chrome, Safari, Edge
    &::-webkit-input-placeholder { @ruleset(); }

    // Firefox 19+
    &::-moz-placeholder          { @ruleset(); }

    // IE
    &:-ms-input-placeholder      { @ruleset(); }

    // IE 10+
    &::-ms-input-placeholder     { @ruleset(); }

    &::placeholder               { @ruleset(); }
}

//
//  .pseudo(@pseudo, @rules);
//   ------------------------------------------------------
//  @pseudo     :  ::after, ::before, ::first-letter, ::first-line, ::selection
//  @rules      :  { css declarations; }

.pseudo(@pseudo:_, @rules: {}) {
    & when (@pseudo=after),  (@pseudo=before) {
        position: relative; 
        overflow: visible;    // overflow IE 8/9
    }
    @vpseudo: ~'::@{pseudo}';

    &@{vpseudo} {
        @rules();
    }
}

//
//  .selection(@text-color, @background-color, @text-shadow[, @min-query, @max-query]);
//   ------------------------------------------------------
//   @text-color        :  -color-|initial|inherit
//   @background-color  :  -color-|transparent|initial|inherit
//   @border-color      :  -color-|transparent|initial|inherit

.selection(@text-color:_, @background-color:_, @text-shadow:_) {
    @ruleset: {
        color: @text-color;
        background-color: @background-color;
        text-shadow: @text-shadow;
    }
    .pseudo(selection, @ruleset);
}
