//
// Deprecated mixins won´t be available as of v2+

//
//  Use .position(absolute, top, right, bottom, left)

.absolute {
    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when not (@top = skip) and (@query = 0) 
    {
        .position.align(absolute, @top, @right, @bottom, @left);
    }
    .left-top (@left: auto, @top: auto) 
        when not (@left = skip) 
    {
        .position.left-top(absolute, @left, @top);
    }
    .left-bottom (@left: auto, @bottom: auto) 
        when not (@left = skip) 
    {
        .position.left-bottom(absolute, @left, @bottom);
    }
    .right-top (@right: auto, @top: auto) 
        when not (@right = skip) 
    {
        .position.right-top(absolute, @right, @top);
    }
    .right-bottom (@right: auto, @bottom: auto) 
        when not (@right = skip) 
    {
        .position.right-bottom(absolute, @right, @bottom);
    }
}

.absolute {
    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when (@query > 0) 
    {
        @media all and (min-width: @query) {
            .absolute.align(@top, @right, @bottom, @left);
        }
    }
}

//
//  Use .align.top-left(@top, left)

.align {
    .left-top(@left) 
        when (@left=null) {}

    .left-top(@left: auto, @top: auto) 
        when not (@left=null) 
    {
        left: @left;
        top: @top; 
    }
    .left-bottom(@left) 
        when (@left=null) {}

    .left-bottom (@left: auto, @bottom: auto) 
        when not (@left=null) 
    {
        left: @left;
        bottom: @bottom;
    }
    .right-top(@right) 
        when (@right=null) {}

    .right-top (@right: auto, @top: auto) 
        when not (@right=null) 
    {
        right: @right;
        top: @top;
    }
    .right-bottom(@right) 
        when (@right=null) {}

    .right-bottom (@right: auto, @bottom: auto) 
        when not (@right=null) 
    {
        right: @right; 
        bottom: @bottom;
    }
}

//
//  Use .back.clip(@back-clip)

.background-clip (@clip: border) 
    when not (@clip = null)
{
    -webkit-background-clip: @clip;           // Safari 4? Chrome 6?
       -moz-background-clip: @clip;           // Firefox 3.6
            background-clip: ~'@{clip}-box';  // Firefox 4, Safari 5, Opera 10, IE9
}

//
//  Use .back.origin(@back-origin)

.background-origin (@orign: padding-box) 
    when not (@orign = null) 
{
    -webkit-background-orign: @orign;  // Safari 4? Chrome 6?
       -moz-background-orign: @orign;  // Firefox 3.6
            background-orign: @orign;  // Firefox 4, Safari 5, Opera 10, IE9
}

//
//  Use .back.size(@back-size)

.background-size (@back-size: auto) 
    when not (@back-size = null) 
{
    -webkit-background-size: @back-size;  // Safari 3.0+, Chrome 1.0+
       -moz-background-size: @back-size;  // Firefox 3.6
            background-size: @back-size;  // IE 9+
}

//
//  Use
// .border(@width, @style, @color [@min-width-query, @max-width-query])
// .border(@width, _, _, [@min-width-query, @max-width-query])
// .border(_, @style, _, [@min-width-query, @max-width-query])
// .border(_, _, @color, [@min-width-query, @max-width-query])

.border {
    .min (@border: 0, @query: 0) when not (@border = null) and (@query = 0) {
        border: @border;
    }
    .width (@width: 0) when not (@width = null) {
        border-width: @width;
    }
    .style (@style: none) when not (@style = null) {
        border-style: @style;
    }
    .color (@color: none) when not (@color = null) {
        border-color: @color;
    }
}

.border { 
    .min (@border: 0, @query: 0) when (@query > 0) {
        @media all and (min-width: @query) {
            .border.min(@border, @query);
        }
    }
}

//
// Deprecated

.columns (@var) 
    when (@var=null) {}
    
.columns (@count: auto, @gap: normal, @width: auto) 
    when not (@count=null)    {
    -webkit-column-count: @count;
        -moz-column-count: @count;
            column-count: @count;
    -webkit-column-gap: @gap;
        -moz-column-gap: @gap;
            column-gap: @gap;
    -webkit-column-width: @width;
        -moz-column-width: @width;
            column-width: @width;
}

//
//  Use .position(fixed, top, right, bottom, left)

.fixed {
    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when not (@top = skip) and (@query = 0) 
    {
    .position.align(fixed, @top, @right, @bottom, @left);
    }
    .left-top (@left: auto, @top: auto) 
        when not (@left = skip) 
    {
        .position.left-top(fixed, @left, @top);
    }
    .left-bottom (@left: auto, @bottom: auto) 
        when not (@left = skip) 
    {
        .position.left-bottom(fixed, @left, @bottom);
    }
    .right-top (@right: auto, @top: auto) 
        when not (@right = skip) 
    {
        .position.right-top(fixed, @right, @top);
    }
    .right-bottom (@right: auto, @bottom: auto) 
        when not (@right = skip) 
    {
        .position.right-bottom(fixed, @right, @bottom);
    }
}

.fixed {
    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when (@query > 0) 
    {
        @media all and (min-width: @query) {
            .fixed.align(@top, @right, @bottom, @left);
        }
    }
}

//
// .font-size(@size, [@min-width, @max-width])

.font-size (@param) 
    when (@param=null) {}

.font-size (@size: 1em, @query: 0) 
    when not (@size=null) and (@query=0) 
{
    font-size: @size;
}

.font-size (@font: none, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .font-size(@font);
    } 
}

//
// Renamed. Use .gradient.linear(@start, @stop, @degrees, [@image])

.gradient {
    .directional(@start: transparent, @stop: gray, @degrees: 180deg, @image: none) 
        when not (@start = null) 
    {
        .back(@start, @image, repeat-x, center);
            background-image: -webkit-linear-gradient(@degrees, @start, @stop);                     // Safari 5.1+, Chrome 10+
            background-image:   -moz-linear-gradient(@degrees, @start, @stop);                     // Firefox 3.6+
            background-image:         linear-gradient(@degrees, @start, @stop);                     // IE10
    }
}

//
// Use .size(_, @height, [@min-width-query, @max-width-query])

.height (@height: auto, @query: 0) 
    when not (@height = null) and (@query = 0) 
{
    height: @height;
}

.height (@height: auto, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .height(@height);
    } 
}

//
// Use .back.image(@image-url, [@min-width-query, @max-width-query])

.image (@image-url: none) 
    when not (@image-url = null) and (@image-url = none) 
{
    background-image: none; 
}

.image (@image-url: none) 
    when not (@image-url = null) and not (@image-url = none) 
{
    background-image: url('@{image-url}'); 
}

//
// Use .text.indent(@size, [@min-width, @max-width])

.indent (@param) 
    when (@param=null) {}

.indent (@indent: 0, @query: 0) 
    when not (@indent=null) and (@query=0) 
{
    text-indent: @indent;
}

.indent (@indent: 0, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .indent(@indent);
    }
}

//
// Use .spacing(@margin, _, [@min-width-query, @max-width-query])

.margin (@margin: none, @query: 0) 
    when not (@margin = null) and (@query = 0) 
{
    margin: @margin;
}

.margin (@margin: none, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .margin(@margin);
    } 
}

//
// Use .min-size(_, @max-width,[@min-width-query, @max-width-query])

.max-width (@width: 0, @query: 0) 
    when not (@width = null) and (@query = 0) 
{
    max-width: @width;
}

.max-width (@width: 0, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .max-width(@width);
    }
}

//
// Use .min-size(@min-width, _, [@min-width-query, @max-width-query])

.min-width (@width: 0, @query: 0) 
    when not (@width = null) and (@query = 0) 
{
    min-width: @width;
}

.min-width (@width: 0, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .min-width(@width);
    }
}

//
// Use .spacing(_,@padding, [@min-width-query, @max-width-query])

.padding (@padding: 0, @query: 0) 
    when not (@padding = null) and (@query = 0) 
{
    padding: @padding;
}

.padding (@padding: 0, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .padding(@padding);
    }
}

//
//  Use .position(relative, top, right, bottom, left)

.relative {
    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when not (@top = skip) and (@query = 0) 
    {
        .position.align(relative, @top, @right, @bottom, @left);
    }
    .left-top (@left: auto, @top: auto) 
        when not (@left = skip) 
    {
        .position.left-top(relative, @left, @top);
    }
    .left-bottom (@left: auto, @bottom: auto) 
        when not (@left = skip) 
    {
        .position.left-bottom(relative, @left, @bottom);
    }
    .right-top (@right: auto, @top: auto) 
        when not (@right = skip) 
    {
        .position.right-top(relative, @right, @top);
    }
    .right-bottom (@right: auto, @bottom: auto) 
        when not (@right = skip) 
    {
        .position.right-bottom(relative, @right, @bottom);
    }
}

.relative {
    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when (@query > 0) 
    {
        @media all and (min-width: @query) {
            .relative.align(@top, @right, @bottom, @left);
        }
    }
}

//
//  Deprecated

.rgba (@param) 
    when (@param= null) {}

.rgba (@hex-color: #fff, @alpha: 0.5) 
    when not (@hex-color= null) 
{ 
    background-color: @hex-color;
    background-color: hsla(hue(@hex-color), saturation(@hex-color), lightness(@hex-color), @alpha); 
}

//
// Use
// .rounded(@top-left, @top-right, @bottom-right, @bottom-left, [@query-min, @query-max])
// ie:
// .rounded(@top-left, @top-right, _, _, [@query-min, @query-max])   // rounded top side
// .rounded(_, _, _, @bottom-left, [@query-min, @query-max])         // rounded bottom-left corner

.rounded {
    .top (@radius: 0) when not (@radius = null) {
        .rounded.left-top     (@radius);
        .rounded.right-top    (@radius);
    }
    .right (@radius: 0) when not (@radius = null) {
        .rounded.right-top    (@radius);
        .rounded.right-bottom (@radius);
    }
    .bottom (@radius: 0) when not (@radius = null) {
        .rounded.left-bottom (@radius);
        .rounded.right-bottom (@radius);
    }
    .left (@radius: 0) when not (@radius = null) {
        .rounded.left-top     (@radius);
        .rounded.left-bottom  (@radius);
    }
    .left-top (@radius: 0) when not (@radius = null) {
        -webkit-border-top-left-radius: @radius;
           -moz-border-radius-topleft: @radius;
                border-top-left-radius: @radius;
    }
    .left-bottom (@radius: 0) when not (@radius = null) {
        -webkit-border-bottom-left-radius: @radius;
           -moz-border-radius-bottomleft: @radius;
                border-bottom-left-radius: @radius;
    }
    .right-top (@radius: 0) when not (@radius = null) {
        -webkit-border-top-right-radius: @radius;
           -moz-border-radius-topright: @radius;
                border-top-right-radius: @radius;
    }
    .right-bottom (@radius: 0) when not (@radius = null) {
        -webkit-border-bottom-right-radius: @radius;
           -moz-border-radius-bottomright: @radius;
                border-bottom-right-radius: @radius;
    }
}

//
// Use .shadow(spread, color, alpha)

.shadow-multi (@param) 
    when (@param=null) {}

.shadow-multi (@shadows: none) 
    when not (@shadows=null) 
{
    -webkit-box-shadow: @shadows;
            box-shadow: @shadows;
}

//
// Use .min-size(@min-width, @max-width, [@min-width-query, @max-width-query])

.size-min (@min-width: auto, @min-height: auto, @query: 0) 
    when not (@min-width = null) and (@query = 0) 
{
    min-width: @min-width;
    min-height: @min-height;
}

.size-min (@min-width: 0, @min-height: 0, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .size-min(@min-width, @min-height);
    }
}

//
// Use .size(@size)

.square (@size: auto, @query: 0) 
    when not (@size = null) and (@query = 0) 
{
    width: @size;
    height: @size;
}

.square (@size: auto, @query: 0) when (@query > 0) {
    @media all and (min-width: @query) {
        .square(@square, @display);
    }
}

//
//  Not listed/categorized

.strong-div-width (@swidth: 100%, @dwidth: 100%, @query: 0) 
    when not (@swidth = null) and (@query = 0) 
{
    & > strong { 
        display: block; 
        width: @swidth; 
        float: left; }
    & > div { 
        width: @dwidth; 
    }
}

.strong-div-width (@swidth: 100%, @dwidth: 100%, @query: 0) 
    when not (@swidth = null) and (@query > 0) 
{
    @media print, screen and (min-width: @query) {
        .strong-div-width (@swidth, @dwidth);
    }
}

//
// Use text helper
// .text.left()
// .text.center()
// .text.right()
// .text.justify()

.text-align (@param) 
    when (@param=null) {}

.text-align (@align: center, @query: 0) 
    when not (@align=null) and (@query=0) 
{
    text-align: @align;
}

.text-align (@align: center, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .text-align(@align);
    }
}

//
// .text.shadow(@spread, @color, @alpha, [@min-width-query, @max-width-query])

.text-shadow (@param) 
    when (@param=null) {}

.text-shadow (@spread: 0 0, @color: #fff, @alpha: .5, @query: 0) 
    when not (@spread=null) and (@query=0) {
        
    text-shadow: @spread hsla(hue(@color), saturation(@color), lightness(@color), @alpha); 
}

.text-shadow (@spread: 0 0, @color: #fff, @alpha: .5, @query: 0) 
    when (@query > 0) 
{
    @media all and (min-width: @query) {
        .text-shadow(@shadow, @color, @alpha);
    }
}

//
// Use .transition(@property, duration, function, delay, [@min-width-query, @max-width-query])

.transition-multi (@param) 
    when (@param= null) {}

.transition-multi (@transitions: all 0s ease 0s) 
    when not (@transitions= null) 
{
    -webkit-transition: @transitions;
            transition: @transitions;
}

//
// Deprecated: non standar property

.tap-highlight(@color) 
    when (@color=null) {}

.tap-highlight(@color:_) 
    when not (@color=null) and (@color=_)
{
    .tap-highlight(none)
}

.tap-highlight(@color: gray) 
    when not (@color=null) and not (@color=_)
{
    -webkit-tap-highlight-color: @color;
       -moz-tap-highlight-color: @color;
            tap-highlight-color: @color;
}

//
// Use .noselect() helper

.user-select(@select:_) 
    when not (@select=null) and (@select=_)
{
    .user-select(none)
}

.user-select(@select:_)
    when not (@select=null) and not (@select=_)
{
    -webkit-user-select: @select;
       -moz-user-select: @select;
        -ms-user-select: @select;
}

//
// Use .size(@width, _, [@min-width-query, @max-width-query])

.width (@width: auto, @query: 0) when not (@width = null) and (@query = 0) {
    width: @width;
}

.width (@width: 0, @query: 0) when (@query > 0) {
    @media all and (min-width: @query) {
        .width(@width);
    }
}
