//
// Misc properties

//
//  .custom(property, value, [property.., value.., min-width, max-width]);
//   ------------------------------------------------------
//   property            :  custom property name
//   value               :  custom value

.custom(@property1:_, @value1:_, @property2:_, @value2:_, @property3:_, @value3:_, @min-query:_, @max-query:_) {
    
    @args: @property1, @value1, @property2, @value2, @property3, @value3;
    
    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);
    
    .loop(@i: 5) when (@i > 0) {
        .loop(@i - 2);
        @prop: extract(@args, @i);
        @val:  extract(@args, @i+1);

        & when not (@prop=_) and not (@val=_) and (@minmax=_) {
            @{prop}: @val;
        }
    }
    
    .loop();

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @custom: @property1, @value1, @property2, @value2, @property3, @value3;
        );
    }
    
    .parse(@args) {

        .loop(@i:6) when (@i > 0) {
            .loop((@i - 1));
            @{i}: if(length(@args) >= @i; extract(@args, @i); _);
        }
        
        .custom(.loop[$1], .loop[$2], .loop[$3], .loop[$4], .loop[$5], .loop[$6]);
    }
}

//
//  .overflow(@overflow-x, @overflow-y, [@min-query, @max-query])
//   ------------------------------------------------------
//   overflow-x         :  visible|hidden|scroll|auto|initial|inherit
//   overflow-y         :  visible|hidden|scroll|auto|initial|inherit

.overflow(@overflow-x:_, @overflow-y:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when (@overflow-x=@overflow-y) and (@minmax=_) {
        overflow: @overflow-x;
    }

    & when not (@overflow-y=_) and (@minmax=_) {
        overflow-y: @overflow-y;
    }
        
    & when not (@overflow-x=_) and (@minmax=_) {
        overflow-x: @overflow-x;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @overflow: @overflow-x, @overflow-y;
        );
    }
}
