//
//  Positioning

//
// .align(@top, @right, @bottom, @left, [@min-width-query, @max-width-query]) 

.align(@top) 
    when (@top=null) {}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and (@right=_) and (@bottom=_) and (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: auto; 
    right: auto;
    bottom: auto;
    left: auto;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and not (@top=_) and (@right=_) and (@bottom=_) and (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: @top;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and not (@right=_) and (@bottom=_) and (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    right: @right;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and (@right=_) and not (@bottom=_) and (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    bottom: @bottom;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and (@right=_) and (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and not (@top=_) and not (@right=_) and (@bottom=_) and (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: @top; 
    right: @right;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and not (@top=_) and (@right=_) and not (@bottom=_) and (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: @top; 
    bottom: @bottom;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and not (@top=_) and (@right=_) and (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: @top; 
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and not (@right=_) and not (@bottom=_) and (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    right: @right;
    bottom: @bottom;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and not (@right=_) and (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    right: @right;
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and (@right=_) and not (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    bottom: @bottom;
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_)
    when not (@top=null) and not (@top=_) and not (@right=_) and (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: @top; 
    right: @right;
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and not (@top=_) and (@right=_) and not (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: @top; 
    bottom: @bottom;
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and (@top=_) and not (@right=_) and not (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    right: @right;
    bottom: @bottom;
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@top=null) and not (@top=_) and not (@right=_) and not (@bottom=_) and not (@left=_) and (@min-width-query=_) and (@max-width-query=_)
{
    top: @top; 
    right: @right;
    bottom: @bottom;
    left: @left;
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when (@min-width-query=_) and not (@max-width-query=_)
{
    @media all and (max-width: @max-width-query) {
        .align(@top, @right, @bottom, @left);
    }
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@min-width-query=_) and (@max-width-query=_)
{
    @media all and (min-width: @min-width-query) {
        .align(@top, @right, @bottom, @left);
    }
}

.align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @max-width-query:_) 
    when not (@min-width-query=_) and not (@max-width-query=_)
{
    @media all and (min-width: @min-width-query) and (max-width: @max-width-query) {
        .align(@top, @right, @bottom, @left);
    }
}

//
// .float(float, [min-width-query]) 

.float (@var) 
    when (@var=null) {}

.float (@float: none, @query: 0) 
    when not (@float=null) and (@query = 0)   
{
    float: @float;
}

.float (@float: none, @query: 0) 
    when (@query > 0)   
{
    @media all and (min-width: @query) {
        .float(@float);
    } 
}

//
// .index(index, [min-width-query]) 

.index (@var) 
    when (@var=null) {}

.index (@index: 0, @query: 0) 
    when not (@index=null) and (@query = 0)   
{
    z-index: @index;
}

.index (@index: 0, @query: 0) 
    when (@query > 0)   
{
    @media all and (min-width: @query) {
        .index(@index);
    }
}

//
// .position(position, [min-width-query]) 
// .position.align(position, top, right, bottom, left, [min-width-query]) 

.relative(@min-width-query:_, @max-width-query:_)
    when (@min-width-query=_) and (@max-width-query=_)
{
    position: relative;
}

.relative(@min-width-query:_, @max-width-query:_) 
    when (@min-width-query=_) and not (@max-width-query=_)
{
    @media all and (max-width: @max-width-query) {
        position: relative;
    }
}

.relative(@min-width-query:_, @max-width-query:_) 
    when not (@min-width-query=_) and (@max-width-query=_)
{
    @media all and (min-width: @min-width-query) {
        position: relative;
    }
}

.relative(@min-width-query:_, @max-width-query:_) 
    when not (@min-width-query=_) and not (@max-width-query=_)
{
    @media all and (min-width: @min-width-query) and (max-width: @max-width-query) {
        position: relative;
    }
}

.relative {
    .align(@top:_, @right:_, @bottom:_, @left:_, @min-width-query:_, @min-width-query:_) {
        .relative();
        .align(@top, @right, @bottom, @left, @min-width-query, @min-width-query);
    }
}

//
// .position(position, [min-width-query]) 
// .position.align(position, top, right, bottom, left, [min-width-query]) 

.position (@var) 
    when (@var=null) {}

.position (@position: static, @query: 0)
    when not (@position=null) and (@query = 0)
{
    position: @position;
}

.position (@position: absolute, @query: 0) 
    when (@query > 0)   
{
    @media all and (min-width: @query) {
        .position(@position);
    }
}

.position {
    .align(@position) 
        when (@position=null) 
    {}
    .align(@position: relative, @top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when not (@position=null) and (@query = 0) 
    {
        position: @position;
        top: @top; 
        right: @right;
        bottom: @bottom;
        left: @left;
    }
    .align(@position: relative, @top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when (@query > 0) 
    {
        @media all and (min-width: @query) {
            .position.align(@position, @top, @right, @bottom, @left);
        }
    }
    .left-top (@position) 
        when (@position=null) 
    {}
    .left-top (@position: relative, @left: auto, @top: auto) 
        when not (@position=null) 
    {
        position: @position;
        left: @left;
        top: @top; 
    }
    .left-bottom (@position) 
        when (@position=null) 
    {}
    .left-bottom (@position: relative, @left: auto, @bottom: auto) 
        when not (@position=null) 
    {
        position: @position;
        left: @left;
        bottom: @bottom;
    }
    .right-top (@position) 
        when (@position=null) 
    {}
    .right-top (@position: relative, @right: auto, @top: auto) 
        when not (@position=null) 
    {
        position: @position;
        right: @right;
        top: @top; 
    }
    .right-bottom (@position) 
        when (@position=null) 
    {}
    .right-bottom (@position: relative, @right: auto, @bottom: auto) 
        when not (@position=null) 
    {
        position: @position;
        right: @right;
        bottom: @bottom;
    }
}
