//
//  Transform properties

//
//  .backface(@visibility, [@min-query, @max-query]);
//   ------------------------------------------------------
//   backface         :  visible|hidden|initial|inherit

.backface(@visibility:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);
    
    & when not (@visibility=_) and (@minmax=_) {
        -webkit-backface-visibility: @visibility;
           -moz-backface-visibility: @visibility;
                backface-visibility: @visibility;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @backface: @visibility;
        );
    }
}

//
//  .transform-origin(@x-axis, @y-axis, @z-axis[, @min-query, @max-query]);
//   ------------------------------------------------------
//   x-axis             :  left|center|right|-length-|percentage
//   y-axis             :  top|center|bottom|-length-|percentage
//   z-axis             :  -length-

.transform-origin(@x-axis:_, @y-axis:_, @z-axis:0, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@x-axis=_) and (@y-axis=_) and (@minmax=_) {
        -webkit-transform-origin: @x-axis @y-axis @z-axis;
            -ms-transform-origin: @x-axis @y-axis @z-axis;
                transform-origin: @x-axis @y-axis @z-axis;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @transform-origin: @x-axis, @y-axis, @z-axis;
        );
    }
}

//
//  .perspective(@length, [@min-query, @max-query]);
//   ------------------------------------------------------
//   length         :  -length-|none

.perspective(@length, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@length=_) and (@minmax=_) {
        -webkit-perspective: @length;
           -moz-perspective: @length;
                perspective: @length;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @perspective: @length;
        );
    }
}

//
//  .resize(@direction[, @min-query, @max-query]);
//   ------------------------------------------------------
//   direction          :  none|both|horizontal|vertical|initial|inherit

.resize(@direction:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@direction=_) and (@minmax=_) {
        resize: @direction;
        overflow: auto;      // Fix for Safari
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @resize: @direction;
        );
    }
}

//
//  .rotate3d(@x-axis, @y-axis, @z-axis, @angle[, @min-query, @max-query]);
//   ------------------------------------------------------
//   x-axis             :  1 (x-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)
//   y-axis             :  1 (y-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)
//   z-axis             :  1 (z-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)
//   angle              :  degree|gradian|radian|turn

.rotate3d(@x-axis:1, @y-axis:1, @z-axis:1, @angle:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@angle=_) and (@minmax=_) {
        -webkit-transform+_: rotate3d(@x-axis, @y-axis, @z-axis, @angle);
            -ms-transform+_: rotate3d(@x-axis, @y-axis, @z-axis, @angle);
                transform+_: rotate3d(@x-axis, @y-axis, @z-axis, @angle);
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @rotate3d: @x-axis, @y-axis, @z-axis, @angle;
        );
    }
}

//
//  .scale3d(@x-axis, @y-axis, @z-axis, [@min-query, @max-query]);
//   ------------------------------------------------------
//   x-axis             :  1 (x-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)
//   y-axis             :  1 (y-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)
//   z-axis             :  1 (z-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)

.scale3d(@x-axis:_, @y-axis:_, @z-axis:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@x-axis=_) and not (@y-axis=_) and not (@z-axis=_) and (@minmax=_) {
        -webkit-transform+_: scale3d(@x-axis, @y-axis, @z-axis);
            -ms-transform+_: scale3d(@x-axis, @y-axis, @z-axis);
                transform+_: scale3d(@x-axis, @y-axis, @z-axis);
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @scale3d: @x-axis, @y-axis, @z-axis;
        );
    }
}

//
//  .skew(@transform, [@min-query, @max-query]);
//   ------------------------------------------------------
//   x-axis             :  1 (x-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)
//   y-axis             :  1 (y-axis rotation)|0 (no rotation)|-1 (opposite rotation direction)

.skew(@x-axis:_, @y-axis:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@x-axis=_) and not (@y-axis=_) and  (@minmax=_) {
        -webkit-transform+_: skewX(@x-axis) skewY(@y-axis);
            -ms-transform+_: skewX(@x-axis) skewY(@y-axis);
                transform+_: skewX(@x-axis) skewY(@y-axis);
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @skew: @x-axis, @y-axis;
        );
    }
}

//
//  .transform(@function[, @min-query, @max-query]);
//   ------------------------------------------------------
//   transform          :  none|transform-functions|initial|inherit

.transform(@function:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@function=_) and (@min-query=_) and (@max-query=_) {
        -webkit-transform+_: @function;
            -ms-transform+_: @function;
                transform+_: @function;
    }

    & when not (@min-query=_), not (@max-query=_) {
        .mixins(
            @query: @min-query, @max-query;
            @transform: @function;
        );
    }
}


//
//  .translate3d(@x-axis, @y-axis, @z-axis, [@min-query, @max-query]);
//   ------------------------------------------------------
//   x-axis             :  -length-|percentage
//   y-axis             :  -length-|percentage
//   z-axis             :  -length-|percentage

.translate3d(@x-axis:_, @y-axis:_, @z-axis:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@x-axis=_) and not (@x-axis=_) and not (@x-axis=_) and (@minmax=_) {
        -webkit-transform+_: translate3d(@x-axis, @y-axis, @z-axis);
            -ms-transform+_: translate3d(@x-axis, @y-axis, @z-axis);   
                transform+_: translate3d(@x-axis, @y-axis, @z-axis);
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @translate3d: @x-axis, @y-axis, @z-axis;
        );
    }
}
