//
//  Typography

//
//  .font(@size, @line-height, @weight, @family, [@min-query, @max-query]);
//   ------------------------------------------------------
//   @size          :  medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit
//   @style         :  normal|italic|oblique|initial|inherit
//   @weight/ style :  normal|bold|bolder|lighter|-number-|initial|inherit/ none|normal|italic
//   @family        :  family-name|initial|inherit

.font(@size:_, @line-height:_, @weight:_, @family:_, @min-query:_, @max-query:_) {

    @vfamily: if(@size=_ or @family=_; _);
    @vsize:  if(not (@line-height=_); if(not (@size=_); e('@{size}/@{line-height}'); _); @size);
    @minmax: if(@min-query=_ and @max-query=_; _; @min-query, @max-query);

    & when not (@vsize=_) and not (@weight=_) and not (@family=_) and (@minmax=_) {
        font: @weight @vsize @family;
    }

    & when not (@vsize=_) and (@weight=_) and not (@family=_) and (@minmax=_) {
        font: @vsize @family;
    }

    & when not (@size=_) and (@family=_) and (@minmax=_) {
        font-size: @size;
    }

    & when not (@line-height=_) and (@vfamily=_) and (@minmax=_) {
        line-height: @line-height;
    }

    & when not (@weight=_) and (@vfamily=_) and (@minmax=_) {
        font-weight: extract(@weight, 1);
    }

    & when (@size=_) and not (@family=_) and (@minmax=_) {
        font-family: @family;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @font: @size, @weight, @family;
        );
    }
}

//
//  .fontface(@family, @path, @weight, @style[, @min-query, @max-query]);
//   ------------------------------------------------------
//   @family  :  font-family name
//   @path    :  absolute/relative file path
//   @weight  :  normal|bold|bolder|lighter|-number-|initial|inherit;
//   @style   :  italic|normal|inherit

.fontface(@family:_, @path:_, @weight:_, @style:_, @min-query:_, @max-query:_) {

    @vweight: if(@weight=_; 400; @weight);
    @vstyle:  if(@style=_; normal; @style);

    & when not (@family=_) and not (@path=_) {
        @fontface {
            font-family: @family;
            src: url('@{path}.eot');  // IE9
            src: url('@{path}.eot?#iefix') format('embedded-opentype'),     
                 url('@{path}.woff') format('woff'),
                 url('@{path}.ttf') format('truetype'),
                 url('@{path}.svg#@{@family}') format('svg');
            font-weight: @vweight;
            font-style: @vstyle;
        }
    }

    & when not (@min-query=_), not (@max-query=_) {
        .mixins(
            @query: @min-query, @max-query;
            @fontface: @family, @path, @weight, @style;
        );
    }
}

//
//  .paragraph(@line-height, @align, @indent[, @min-query, @max-query]);
//   ------------------------------------------------------
//   @line-height   :  normal|number|-length-|initial|inherit
//   @align         :  left|right|center|justify|initial|inherit
//   @indent        :  -length-|initial|inherit

.paragraph(@line-height:_, @align:_, @indent:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@line-height=_) and (@minmax=_) {
        line-height: @line-height;
    }

    & when not (@align=_) and (@minmax=_) {
        text-align: @align;
    }

    & when not (@indent=_) and (@minmax=_) {
        text-indent: @indent;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @paragraph: @line-height, @align, @indent;
        );
    }
}

//
// .text(@size, @weight, @color[, @min-query, @max-query])
//   ------------------------------------------------------
//   @line      :  none|underline|overline|line-through|initial|inherit

.text(@size:_, @weight:_, @color:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@size=_) and (@minmax=_) {
        font-size: @size;
    }

    & when not (@weight=_) and (@minmax=_) {
        font-weight: @weight;
    }

    & when not (@color=_) and (@minmax=_) {
        color: @color;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @text: @size, @weight, @color;
        );
    }
}

//
// .text-decoration(@line, @color, @style[, @min-query, @max-query])
//   ------------------------------------------------------
//   @line      :  none|underline|overline|line-through|initial|inherit
//   @color     :  -color-|initial|inherit
//   @style     :  solid|double|dotted|dashed|wavy|initial|inherit;

.text-decoration(@line:_, @color:_, @style:_, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);

    & when not (@line=_) and not (@color=_) and not (@style=_) and (@minmax=_) {
        text-decoration: @line @color @style
    }
    & when not (@line=_) and not (@color=_) and (@style=_) and (@minmax=_) {
        text-decoration: @line @color
    }

    & when not (@line=_) and (@color=_) and not (@style=_) and (@minmax=_) {
        text-decoration: @line @style
    }

    & when (@line=_) and not (@color=_) and not (@style=_) and (@minmax=_) {
        text-decoration-color: @color;  // IE not supported
        text-decoration-style: @style;  // IE not supported
    }

    & when not (@line=_) and (@color=_) and (@style=_) and (@minmax=_) {
        text-decoration-line: @line
    }

    & when (@line=_) and not (@color=_) and (@style=_) and (@minmax=_) {
        text-decoration-color: @color  // IE not supported
    }

    & when (@line=_) and (@color=_) and not (@style=_) and (@minmax=_) {
        text-decoration-style: @style  // IE not supported
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @text-decoration: @size, @weight, @family;
        );
    }
}
    
//
//  .text-shadow(@spread, @color, @alpha[, @min-query, @max-query]);
//   ------------------------------------------------------
//   @spread    :  h-shadow v-shadow [blur-radius]
//   @color     :  -color-|initial|inherit

.text-shadow(@spread:_, @color:_, @alpha:100%, @min-query:_, @max-query:_) {

    @percentage: if(ispercentage(@alpha); @alpha; @alpha*100%);
    @rgba: fade(@color, @percentage);

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);
    
    & when not (@spread=_) and not (@color=_) and (@minmax=_) {
        text-shadow: @spread @rgba;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @text-shadow: @spread, @color, @alpha;
        );
    }
}
    
//
//  .text-transform(@spread, @color, @alpha[, @min-query, @max-query]);
//   ------------------------------------------------------
//   text-transform      :  none|capitalize|uppercase|lowercase|initial|inherit

.text-transform(@transform, @min-query:_, @max-query:_) {

    @minmax: if((@min-query=_ and @max-query=_); _; @min-query, @max-query);
    
    & when not (@transform=_) and (@minmax=_) {
        text-transform: @transform;
    }

    & when not (@minmax=_) {
        .mixins(
            @query: @minmax;
            @text-transform: @transform;
        );
    }
}
