@import "../../anchor";
@import "base";
@import "theme";

@accent: #fb292d;
 
//  Global

    // * { background-image: radial-gradient(circle at 1% 1%, #328bf2, #1644ad); }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a { 
        color: inherit; 
    }

    pre {
        display: block;
        .word-break();

        code {
            display: block;
            color: inherit;
            font-size: inherit;
            white-space: pre-wrap;
        }
    }

    ul, ol { 
        margin-bottom: @base-margin; 
    }

    .selector {
        color: @accent;
    }

    .mix {
        color: #dadbb1; 
    }

    table tr .first { 
        width: 30.00%; 
    }

    hr {
        margin: -1px 0 0;
    }
    
    .button { 
        text-decoration: none;
        .color(white, @accent);
    }

    .badge {
        .rounded(5px);
        .size(9px);
        .position(absolute, 15px, -15px);
        .gradient(to-bottom, @accent, darken(@accent, 20%));
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

//  Header

    .m-brand { 
        h1 { 
            text-align: center;
            margin: 0;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
            
            
            a {
                .color(@hexf);
                word-spacing: -2px;
                letter-spacing: -1px;
                text-decoration: none;
            }

            img {
                margin:0 7px -10px 0;
            }
        }
                  
        .headline {
            text-align: center;
        }
    }

    .l-top-nav .m-brand { 
        h1 { 
            font-size: 4.8em; 
        }
    }

    .l-right-top-nav .m-brand { 
        padding-top: @base-margin; 
        
        h1 { 
            font-size: 1.6em; 
            padding: 13px 0; 

            a {
                letter-spacing: 0;
            }

            img {
                width: 32px;
            }
        }
    }

//  Nav
    
    body.home .navbar .home a,
    body.reference .navbar .reference a,
    body.usage .navbar .usage a,
    body.compiler .navbar .compiler a,
    .navbar li a:hover {  
        color: @accent; 
    }

    nav > section {  
        border-bottom: 1px solid #121212; .shadow(0 1px 0, @hexf, .07);
     }

    .m-mainnav {
        padding-top: @base-margin;
        
        a { 
            text-decoration: none; 
        }
    }

//  Main

    .c-filters {
        .display(none); 
        .display(block, 800px); 
        border-right: 1px solid #121212; 
        box-shadow: -1px 0 0 rgba(255, 255, 255, 0.07) inset; 
        padding-right: @base-margin; 
    }

    .c-module {
        .letter { 
            padding: 0; 
            .font(1.8em, 1); 
        }
    }

    .m-submenu { 
        border-bottom: 1px solid #121212; 
        .shadow(0 1px 0, @hexf, .07);

        a {
            margin-right: 1em; 
            .spacing(_, .3em .7em);

            &:hover,
            .current a {
                .background(rgba(0, 0, 0, 0.3), none, repeat); 
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset; 
                .rounded(@base-radius);
            }
        }
    }

    .m-submenu-2 { 
        .title { 
            font-size: 1.6em; 
            text-align: right; 
        }
        li { 
            text-align: right; 
            a { 
                color: @text-base; 
                text-decoration: none; 
            }
        }
    }

    .tabset > .details { 
        margin-bottom: 80px; 
    }

//  Footer

    footer > section {  
        border-top: 1px solid #121212; 
        .shadow(0 1px 0, @hexf, .07, inset); 
    }
    
    .m-legal {
        padding-top: @base-margin; 
    }

    .no-select {
        .noselect();
    }

//  Compiler
.less-error-message {
    display: none;
}

main {
    .result {

        .box {
            float: none;
        }
    }

    .toggle {
        text-align: left;
        font-size: 0.7em;
        margin-bottom: 30px;
        a {
            position:absolute;
        }
    }

    code {
        display: block;
        padding: 1rem 0;
        overflow-y: auto;
        font-size: inherit;
        line-height: 22px;
        white-space: pre;
        border-radius: 5px;
        border: 1px solid transparent;
        
        &.less:hover, &.less:focus {
            .color(#fff, #212121);
            outline: 0;
        }
    }
}

footer {
    margin-top: 20px;
}