header
    section.max-width
        .m-brand
            h1
                a(href=page.root + 'index.html')
                    img(src=page.root + 'img/logo-main.png')
                    strong Anchor Less
        .m-sidemenu.hide
            a.toggle.js-navbar(href='#')
                i.fa.fa-bars