doctype html
<!--[if IE 8]>     <html lang="es" class="ie ie8"> <![endif]-->
<!--[if IE 9]>     <html lang="es" class="ie ie9"> <![endif]-->
<!--[if gt IE 9]>  <html lang="es"> <![endif]-->
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->