nav
    section.max-width
        .m-mainnav.navbar.primary
            ul.lined-up
                li.home
                    a(href=page.root + 'index.html') Home
                li.reference
                    a(href=page.root + 'reference.html') Reference
                li.usage
                    a(href=page.root + 'usage.html') Usage