nav
    section.max-width
        .m-mainnav.navbar.primary
            ul.lined-up
                li.reference
                    a(href=page.root + 'reference.html') Reference
                li.usage
                    a(href=page.root + 'usage.html') Usage
                li.compiler
                    a(href=page.root + 'compiler.html') Compiler
                        span.badge