- var page = { 'root': '', 'title': 'Reference' }

doctype html
html(lang="es")
    head
        include includes/head
        script(src=page.root + 'js/libs/jquery-1.11.1.min.js')
    body.uno.l-right-top-nav.reference
        include includes/header_pages
        include includes/nav
        main
            section.max-width
                .grid.split-6.separate
                    .c-filters
                        .m-version.hide
                            p
                                | Source on
                                a(href='https://github.com/invader365/anchorLESS') GitHub
                        .m-submenu-2
                            h2.title By Category:
                            hr
                            h2.title Mixins
                            ul.cat_mixins
                                li
                                    a(href='#animation') Animation and transition
                                li
                                    a(href='#box-model') Box-model
                                li
                                    a(href='#filter') Filters
                                li
                                    a(href='#position') Layout
                                li
                                    a(href='#transform') Transform
                                li
                                    a(href='#font') Typography
                                li
                                    a(href='#visual') Visual properties
                            h2.title Helpers
                            ul.cat_assets
                                li
                                    a(href='#assets') assets
                                li
                                    a(href='#centering') Centering
                                li
                                    a(href='#pseudo') Pseudo
                                li
                                    a(href='#others') Others
                            h2.title Shortcuts
                            ul.cat_utilities
                                li
                                    a(href='#easing') Easing
                                li
                                    a(href='#grays') Gray scale
                                li
                                    a(href='#webfonts') Web-safe fonts
                                li
                                    a(href='#svg') Svg filters
                    .c-module.span-5
                        .tabset.primary.horizontal
                            h2.summary
                                a(href='#') All
                            .details
                                hr
                                h2.heading.primary Reference
                                p
                                    strong Index: 
                                    a(href='#A') A 
                                    | | 
                                    a(href='#B') B 
                                    | | 
                                    a(href='#C') C 
                                    | | 
                                    a(href='#D') D 
                                    | | 
                                    a(href='#E') E 
                                    | | 
                                    a(href='#F') F 
                                    | | 
                                    a(href='#G') G 
                                    | | 
                                    a(href='#H') H 
                                    | | 
                                    a(href='#I') I 
                                    | | 
                                    a(href='#K') K 
                                    | | 
                                    a(href='#L') L 
                                    | | 
                                    a(href='#M') M 
                                    | | 
                                    a(href='#N') N 
                                    | | 
                                    a(href='#O') O 
                                    | | 
                                    a(href='#P') P 
                                    | | 
                                    a(href='#R') R 
                                    | | 
                                    a(href='#S') S 
                                    | | 
                                    a(href='#T') T 
                                    | | 
                                    a(href='#U') U 
                                    | | 
                                    a(href='#V') V 
                                    | | 
                                    a(href='#W') W
                                .grid.split-6
                                    h3#A.letter A
                                    ul.grid.split-3.span-5
                                        li .after();
                                        li .animation();
                                        li .align();
                                .grid.split-6
                                    h3#B.letter B
                                    ul.grid.split-3.span-5
                                        li .backface();
                                        li .background();
                                        li .before();
                                        li .blur();
                                        li .border();
                                        li .brightness();
                                .grid.split-6
                                    h3#C.letter C
                                    ul.grid.split-3.span-5
                                        li .center();
                                        li .center-h();
                                        li .center-v();
                                        li .clearfix();
                                        li .color();
                                        li .contrast();
                                        li .custom();
                                .grid.split-6
                                    h3#D.letter D
                                    ul.grid.split-3.span-5
                                        li .display();
                                        li .drop-shadow();
                                .grid.split-6
                                    h3#E.letter E
                                    ul.grid.split-3.span-5
                                        li .ellipsis();
                                .grid.split-6
                                    h3#F.letter F
                                    ul.grid.split-3.span-5
                                        li .filter();
                                        li .first-letter();
                                        li .first-line();
                                        li .float();
                                        li .font();
                                        li .fontface();
                                .grid.split-6
                                    h3#G.letter G
                                    ul.grid.split-3.span-5
                                        li .gradient();
                                        li .grayscale();
                                .grid.split-6
                                    h3#H.letter H
                                    ul.grid.split-3.span-5
                                        li .hide-text();
                                        li .hue-rotate();
                                        li .hyphens();
                                .grid.split-6
                                    h3#I.letter I
                                    ul.grid.split-3.span-5
                                        li .invert();
                                .grid.split-6
                                    h3#K.letter K
                                    ul.grid.split-3.span-5
                                .grid.split-6
                                    h3#L.letter L
                                    ul.grid.split-3.span-5
                                        li .line-break();
                                        li .list-style();
                                .grid.split-6
                                    h3#M.letter M
                                    ul.grid.split-3.span-5
                                        li .minmax-size();
                                .grid.split-6
                                    h3#N.letter N
                                    ul.grid.split-3.span-5
                                        li .nowrap();
                                .grid.split-6
                                    h3#O.letter O
                                    ul.grid.split-3.span-5
                                        li .opacity();
                                        li .overflow();
                                .grid.split-6
                                    h3#P.letter P
                                    ul.grid.split-3.span-5
                                        li .paragraph();
                                        li .perspective();
                                        li .placeholder();
                                        li .position();
                                .grid.split-6
                                    h3#R.letter R
                                    ul.grid.split-3.span-5
                                        li .resize();
                                        li .rounded();
                                        li .rotate3d();
                                .grid.split-6
                                    h3#S.letter S
                                    ul.grid.split-3.span-5
                                        li .saturate();
                                        li .scale3d();
                                        li .selection();
                                        li .sepia();
                                        li .shadow();
                                        li .size();
                                        li .skew();
                                        li .spacing();
                                .grid.split-6
                                    h3#T.letter T
                                    ul.grid.split-3.span-5
                                        li .table-cell-color();
                                        li .text();
                                        li .text-decoration();
                                        li .text-shadow();
                                        li .text-transform();
                                        li .transform();
                                        li .transform-origin();
                                        li .translate3d();
                                        li .triangle();
                                .grid.split-6
                                    h3#U.letter U
                                    ul.grid.split-3.span-5
                                        li .url();
                                        li .user-select();
                                .grid.split-6
                                    h3#V.letter V
                                    ul.grid.split-3.span-5
                                .grid.split-6
                                    h3#W.letter W
                                    ul.grid.split-3.span-5
                                        li .word-break();
                                        li .wrap();
                                .grid.split-6
                                    h3#Z.letter Z
                                    ul.grid.split-3.span-5
                                        li .z-index();
                            h2.summary.mixins.active
                                a(href='#') Mixins
                            .details
                                hr
                                h3.heading.primary Mixins
                                p Mixins are sets of code that can be configured to modify an element's properties.
                                ul.grid.split-3.circle
                                    li
                                        a(href='#animation') Animation and transition
                                    li
                                        a(href='#box-model') Box-model
                                    li
                                        a(href='#filter') Filters
                                    li
                                        a(href='#position') Layout
                                    li
                                        a(href='#transform') Transform
                                    li
                                        a(href='#font') Typography
                                    li
                                        a(href='#visual') Visual properties
                                h4#animation Animation and Transition
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                            tbody
                                            tr
                                                td .animation(...);
                                                td @name, @duration, @timing, @delay, @iteration, @direction, @fill-mode, @play-state
                                            tr
                                                td .transition(...);
                                                td @property, @duration, @timing, @delay
                                h4#visual Visual properties
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                            tbody
                                            tr
                                                td .background(...);
                                                td @color, @image, @repeat, @position/backsize, @repeat, @origin, @clip, @attachment
                                            tr
                                                td .color(...);
                                                td @color, @background, @border
                                            tr
                                                td .gradient(...);
                                                td @direction, @start, @stop1[, @stop2, @stop3]
                                            tr
                                                td .opacity(...);
                                                td @level;
                                            tr
                                                td .rounded(...);
                                                td @top-right @bottom-right @bottom-left
                                            tr
                                                td .shadow(...);
                                                td @offset, @color, @alpha[, @inset]
                                h4#filter Filters
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name 
                                                th Syntax
                                            tbody
                                            tr
                                                td .blur(...);
                                                td @pixels
                                            tr
                                                td .brightnes(...);
                                                td @percentage
                                            tr
                                                td .contrast(...);
                                                td @percentage
                                            tr
                                                td .drop-shadow(...);
                                                td @offset, @blur, @color
                                            tr
                                                td .filter(...);
                                                td @pixels
                                            tr
                                                td .grayscale(...);
                                                td @percentage
                                            tr
                                                td .hue-rotate(...);
                                                td @pixels
                                            tr
                                                td .invert(...);
                                                td @percentage
                                            tr
                                                td .saturate(...);
                                                td @percentage
                                            tr
                                                td .sepia(...);
                                                td @percentage
                                            tr
                                                td .url(...);
                                                td @svg-url
                                h4#box-model Box-model
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                            tbody
                                            tr
                                                td .border(...);
                                                td @width, @style, @color
                                            tr
                                                td .display(...);
                                                td @display, @horiz-width, @vert-height, @comp
                                            tr
                                                td .minmax-size(...);
                                                td @min-width, @max-width, @min-height, @max-height
                                            tr
                                                td .overflow(...);
                                                td @overflow-x, @overflow-y
                                            tr
                                                td .size(...);
                                                td @width, @height
                                            tr
                                                td .spacing(...);
                                                td @margin, @padding
                                h4#font Typography
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                            tbody
                                            tr
                                                td .font(...);
                                                td @size, @line-height, @weight, @family
                                            tr
                                                td .fontface(...);
                                                td @family, @path, @weight, @style
                                            tr
                                                td .paragraph(...);
                                                td @line-height, @align, @indent
                                            tr
                                                td .text(...);
                                                td @size, @weight, @color
                                            tr
                                                td .text-decoration(...);
                                                td @line, @color, @style
                                            tr
                                                td .text-shadow(...);
                                                td @spread, @color, @alpha
                                            tr
                                                td .text-transform(...);
                                                td @transform
                                h4#position Layout
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                            tbody
                                            tr
                                                td .align(...);
                                                td @top, @right, @bottom, @left
                                            tr
                                                td .float(...);
                                                td @float
                                            tr
                                                td list-style(...);
                                                td @type, @position, @image
                                            tr
                                                td position(...);
                                                td @position, @top, @right, @bottom, @left
                                            tr
                                                td .z-index(...);
                                                td @index
                                h4#transform Transform
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                            tbody
                                            tr
                                                td .backface(...);
                                                td @visibility
                                            tr
                                                td .transform-origin(...);
                                                td @x-axis, @y-axis, @z-axis
                                            tr
                                                td .perspective(...);
                                                td @length;
                                            tr
                                                td .resize(...);
                                                td @direction;
                                            tr
                                                td .rotate3d(...);
                                                td @x-axis, @y-axis, @z-axis, @angle
                                            tr
                                                td .scale3d(...);
                                                td @x-axis, @y-axis, @z-axis
                                            tr
                                                td .skew(...);
                                                td @x-axis, @y-axis
                                            tr
                                                td .transform(...);
                                                td @function
                                            tr
                                                td .translate3d(...);
                                                td @x-axis, @y-axis, @z-axis
                            h2.summary.assets
                                a(href='#') Helpers
                            .details
                                hr
                                h3.heading.primary Helpers
                                p Helpers are sets of code to create or modify an specific html element.
                                ul.grid.split-3.circle
                                    li
                                        a(href='#assets') Assets
                                    li
                                        a(href='#centering') Centering
                                    li
                                        a(href='#pseudo') Pseudo
                                    li
                                        a(href='#others') Others
                                h4#assets Assets
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Description
                                            tr
                                                td .clearfix();
                                                td A snippet for an element to clear after itself
                                            tr
                                                td .ellipsis();
                                                td Applies properties to an element to render an ellipsis '...'
                                            tr
                                                td .hide-text();
                                                td A way have text without showing it up 
                                            tr
                                                td .hyphens();
                                                td Splits words whenever available
                                            tr
                                                td .line-break();
                                                td Clears a left floated element
                                            tr
                                                td .nowrap();
                                                td
                                            tr
                                                td .word-break();
                                                td
                                            tr
                                                td .wrap();
                                                td
                                h4#centering Centering
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                        tbody
                                            tr
                                                td .center(...);
                                                td @mode, @width, @height, @container-width, @container-height
                                            tr
                                                td .center-h(...);
                                                td @mode, @width, @container-width
                                            tr
                                                td .center-v(...);
                                                td @mode, @height, @container-height
                                h4#pseudo Pseudo
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                        tbody
                                            tr
                                                td .after(...);
                                                td @content, @width, @height
                                            tr
                                                td .before(...);
                                                td @content, @width, @height
                                            tr
                                                td .first-letter(...);
                                                td @size, @style, @color, @text-shadow
                                            tr
                                                td .first-line(...);
                                                td @size, @style, @color, @text-shadow
                                            tr
                                                td .placeholder(...);
                                                td @text-color, @background-color, @text-shadow
                                            tr
                                                td .selection(...);
                                                td @text-color, @background-color, @text-shadow
                                h4#others Others
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Syntax
                                        tbody
                                            tr
                                                td .custom(...);
                                                td @property1, @value1, @property2, @value2, @property3, @value3;
                                            tr
                                                td .table-cell-color(...);
                                                td @text-color, @background-color, @rows
                                            tr
                                                td .triangle(...);
                                                td @direction, @width, @height, @color
                            h2.summary.utilities
                                a(href='#') Shortcuts
                            .details
                                hr
                                h3.heading.primary Shortcodes
                                p Shortcodes and Build-in resources.
                                ul.grid.split-3.circle
                                    li
                                        a(href='#easing') Easing
                                    li
                                        a(href='#grays') Gray shades
                                    li
                                        a(href='#webfonts') Web-safe fonts
                                h4#colornames Color Names
                                .scrollable
                                h4#grays Gray Shades
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Value
                                        tbody
                                            tr
                                                td @hex0
                                                td #000000
                                            tr
                                                td @hex1
                                                td #111111
                                            tr
                                                td @hex2
                                                td #222222
                                            tr
                                                td @hex3
                                                td #333333
                                            tr
                                                td @hex4
                                                td #444444
                                            tr
                                                td @hex5
                                                td #555555
                                            tr
                                                td @hex6
                                                td #666666
                                            tr
                                                td @hex7
                                                td #777777
                                            tr
                                                td @hex8
                                                td #888888
                                            tr
                                                td @hex9
                                                td #999999
                                            tr
                                                td @hexa
                                                td #aaaaaa
                                            tr
                                                td @hexb
                                                td #bbbbbb
                                            tr
                                                td @hexc
                                                td #cccccc
                                            tr
                                                td @hexd
                                                td #dddddd
                                            tr
                                                td @hexe
                                                td #eeeeee
                                            tr
                                                td @hexef
                                                td #f6f6f7
                                            tr
                                                td @hexf
                                                td #ffffff
                                h4#easing Easing
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Description
                                        tbody
                                            tr
                                                td @ease-in-back
                                                td Further reference http://matthewlein.com/ceaser/
                                            tr
                                                td @ease-out-back
                                                td
                                            tr
                                                td @ease-in-out-back
                                                td
                                            tr
                                                td @ease-in-cubic
                                                td
                                            tr
                                                td @ease-out-cubic
                                                td
                                            tr
                                                td @ease-in-out-cubic
                                                td
                                            tr
                                                td @ease-in-circ
                                                td
                                            tr
                                                td @ease-out-circ
                                                td
                                            tr
                                                td @ease-in-out-circ
                                                td
                                            tr
                                                td @ease-in-expo
                                                td
                                            tr
                                                td @ease-out-expo
                                                td
                                            tr
                                                td @ease-in-out-expo
                                                td
                                            tr
                                                td @ease-in-quad
                                                td
                                            tr
                                                td @ease-out-quad
                                                td
                                            tr
                                                td @ease-in-out-quad
                                                td
                                            tr
                                                td @ease-in-quart
                                                td
                                            tr
                                                td @ease-out-quart
                                                td
                                            tr
                                                td @ease-in-out-quart
                                                td
                                            tr
                                                td @ease-in-quint
                                                td
                                            tr
                                                td @ease-out-quint
                                                td
                                            tr
                                                td @ease-in-out-quint
                                                td
                                            tr
                                                td @ease-in-sine
                                                td
                                            tr
                                                td @ease-out-sine
                                                td
                                            tr
                                                td @ease-in-out-sine
                                                td
                                h4#webfonts Web Safe Fonts
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Output
                                        tbody
                                            tr
                                                td @safe-font-monospace 
                                                td Menlo, Monaco, Consolas, monospace
                                            tr
                                                td @safe-font-sans-serif
                                                td Helvetica Neue, Helvetica, Arial, sans-serif
                                            tr
                                                td @safe-font-script 
                                                td Brush Script MT, cursive
                                            tr
                                                td @safe-font-serif 
                                                td Georgia, Times New Roman, Times, serif
                                h4#svg Svg filters
                                .scrollable
                                    table.table.primary
                                        thead
                                            tr
                                                th.first Name
                                                th Output
                                        tbody
                                            tr
                                                td @svg-grayscale
                                                td Grayscale filter
                                            tr
                                                td @svg-grayscale-ie10
                                                td IE10 Grayscale filter
        include includes/footer
        script(src=page.root + 'js/scripts.js')
        script.
            function active_tab (name) {
                $('.tabset > .summary').removeClass('active');
                $('.tabset > .summary.' + name).addClass('active');
            };
            $('.cat_mixins a').click(function(){
                active_tab ('mixins');
            });
            $('.cat_assets a').click(function(){
                active_tab ('assets');
            });
            $('.cat_utilities a').click(function(){
                active_tab ('utilities');
            });