- var page = { 'root': '', 'title': 'Usage' }

doctype html
html(lang="es")
    head
        include includes/head
    body.uno.l-right-top-nav.usage
        include includes/header_pages
        include includes/nav
        main
            section.max-width.fixed
                .m-module.span-5
                    h2.heading.primary Usage
                    p 1. Download 
                        a(href="https://github.com/invader365/anchorLESS/archive/master.zip") anchor.less
                    p 2. Reference for use globally with: 
                    pre.panel.primary
                        code
                            span.selector @import
                            |  "../node_modules/anchorless/anchor.less";
                    p
                    h4 Example:
                    pre.panel.primary
                        code
                            span.selector button
                            |  {
                            |     .display(flex, center, center);
                            |     .font(2em, 40px, bold);
                            |     .rounded(5px);
                            |     .background(#fb292d);
                            |     .query({
                            |         .rounded(20px);
                            |         .size(200px, 40px);
                            |         .spacing(0 auto, 10px);
                            |         .gradient(#fb292d, #470103);
                            |     }, 800px);
                            |  }
                    p Compiles to:
                    pre.panel.primary
                        code
                            span.selector button
                            |  {
                            |    display: flex;
                            |    justify-content: center;
                            |    align-items: center;
                            |    font-size: 2em;
                            |    line-height: 40px;
                            |    font-weight: bold;
                            |    border-radius: 5px;
                            |    background: #fb292d;
                            |  }
                        code
                            span.selector @media all and (min-width: 640px)
                            |  {
                            |       button {
                            |           border-radius: 20px;
                            |           width: 200px;
                            |           height: 40px;
                            |           margin: 0 auto;
                            |           padding: 10px;
                            |           background-image: -webkit-linear-gradient(180deg, #fb292d, #470103);
                            |           background-image: -moz-linear-gradient(180deg, #fb292d, #470103);
                            |           background-image: linear-gradient(180deg, #fb292d, #470103);
                            |       }
                            |  }
        include includes/footer