- var page = { 'root': '', 'title': 'Usage' }

doctype html
html(lang="es")
    head
        include includes/head
    body.uno.l-right-top-nav.usage
        include includes/header_pages
        include includes/nav
        main
            section.max-width.fixed
                .m-module.span-5
                    h2.heading.primary Usage
                    p 1. Download 
                        a(href="https://github.com/invader365/anchorLESS/archive/master.zip") anchor.less
                    p 2. Reference for use globally with: 
                    pre.panel.primary
                        code
                            span.selector @import
                            |  "../node_modules/anchorless/anchor.less";
                    p
                    h4 Example:
                    pre.panel.primary
                        code
                            span.selector button
                            |  {
                            |      .gradient(to-bottom, #a53df6, #7c16cb);
                            |      .border(0 1px 2px, solid, #9c33ed);
                            |      .rounded(7px);
                            |      .shadow(0 1px 0 0, #d197fe, .9, inset);
                            |      .color(yellow);
                            |      .size(56px, 128px);
                            |      .font(12px, 56px, bold, 'Arial');
                            |      .breakpoint({
                            |           .size(25%, _);
                            |       }, 640px);
                            |  }
                    p Compiles to:
                    pre.panel.primary
                        code
                            span.selector button
                            |  {
                            |       background-image: -webkit-linear-gradient(180deg, #a53df6, #7c16cb);
                            |       background-image: -moz-linear-gradient(180deg, #a53df6, #7c16cb);
                            |       background-image: linear-gradient(180deg, #a53df6, #7c16cb);
                            |       border-radius: 7px;
                            |       -webkit-box-shadow: 0 1px 0 0 rgba(209, 151, 254, 0.9) inset;
                            |       box-shadow: 0 1px 0 0 rgba(209, 151, 254, 0.9) inset;
                            |       color: yellow;
                            |       width: 56px;
                            |       height: 128px;
                            |       font-size: 12px;
                            |       line-height: 56px;
                            |       font-weight: bold;
                            |       font-style: 'Arial';
                            |   }
                        code
                            span.selector @media all and (min-width: 640px)
                            |  {
                            |      button {
                            |           width: 25%;
                            |       }
                            |   }
        include includes/footer