//  Pseudo-elements

//
//  .pseudo-container(@display);
//   ------------------------------------------------------

    .pseudo-container (@display: inline-block) {
        display: @display;
        position: relative; 
        overflow: visible;  // overflow ie8/9
    }

    .pseudo (@content: '', @width: auto, @height: auto) {
        display: inline-block;
        content: @content;
        width: @width;
        height: @height;
        vertical-align: middle;
    }

//
//  .placeholder(@property, @value, [@min-query, @max-query]);
//   ------------------------------------------------------

.placeholder(@property:_, @value:_, @min-query:_, @max-query:_)
    when not (@property=_) and not (@value=_) and (@min-query=_) and (@max-query=_)
{
    &::-webkit-input-placeholder {  // Chrome, Safari, Edge
        @{property}: @value;
    }
    &:-ms-input-placeholder {       // IE 10+
        @{property}: @value;
    }
    &::-moz-placeholder {           // Firefox 19+
        @{property}: @value;
    } 
    &::placeholder {
        @{property}: @value;
    } 
}