//
// Blocks
// ----------------------------------------------------------------------- //

    .center-block (@width: 0, @query: 0) when (@query = 0) {
        left: (@width / 2) * -1;
        margin-left: 50%;
    }

    .center-inline (@display: inline-block, @query: 0) when (@display = 0) {
        display: @display;
        margin: 0 auto;
        float: none;
    }

    .center-vertical (@height: 0) {
        margin-top: (@height / 2) * -1;
        top: 50%;
    }

    .offset (@padding: 0, @query: 0) when (@query = 0) {
        margin-left: -@padding;
        padding-left: @padding;
        padding-right: @padding;
       .box-sizing;
    }

    .reset-center (@margin-left: 0, @query: 0) when (@query = 0) {
        margin-left: @margin-left;
        left: 0;
    }

    .reset-vertical (@margin-top: 0, @query: 0) when (@query = 0) {
        margin-top: @margin-top;
        top: auto;
    }