//
//  Positioning

    .absolute {
        .align        (@var) 
            when (@var = skip) {}
        .left-top     (@var) 
            when (@var = skip) {}
        .left-bottom  (@var) 
            when (@var = skip) {}
        .right-top    (@var) 
            when (@var = skip) {}
        .right-bottom (@var) 
            when (@var = skip) {}
    }

    .absolute {
        .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when not (@top = skip) and (@query = 0) 
        {
            .position.align(absolute, @top, @right, @bottom, @left);
        }
        .left-top (@left: auto, @top: auto) 
            when not (@left = skip) 
        {
            .position.left-top(absolute, @left, @top);
        }
        .left-bottom (@left: auto, @bottom: auto) 
            when not (@left = skip) 
        {
            .position.left-bottom(absolute, @left, @bottom);
        }
        .right-top (@right: auto, @top: auto) 
            when not (@right = skip) 
        {
            .position.right-top(absolute, @right, @top);
        }
        .right-bottom (@right: auto, @bottom: auto) 
            when not (@right = skip) 
        {
            .position.right-bottom(absolute, @right, @bottom);
        }
    }    

    .absolute {
        .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when (@query > 0) 
        {
            @media all and (min-width: @query) {
                .absolute.align(@top, @right, @bottom, @left);
            }
        }
    }

    .align (@var) 
        when (@var = skip) {}

    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when (@query > 0)   
    {
        @media all and (min-width: @query) {
            .align(@top, @right, @bottom, @left);
        }
    }

    .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
        when not (@top = skip) and (@query = 0)     
    {
        top: @top; 
        right: @right;
        bottom: @bottom;
        left: @left;
    }

    .align {
        .left-top (@left: auto, @top: auto) 
            when not (@left = skip) 
        {
            left: @left;
            top: @top; 
        }
        .left-bottom (@left: auto, @bottom: auto) 
            when not (@left = skip) 
        {
            left: @left;
            bottom: @bottom;
        }
        .right-top (@right: auto, @top: auto) 
            when not (@right = skip) 
        {
            right: @right;
            top: @top;
        }
        .right-bottom (@right: auto, @bottom: auto) 
            when not (@right = skip) 
        {
            right: @right; 
            bottom: @bottom;
        }
    }

    .align {
        .left-top     (@var) 
            when (@var = skip) {}
        .left-bottom  (@var) 
            when (@var = skip) {}
        .right-top    (@var) 
            when (@var = skip) {}
        .right-bottom (@var) 
            when (@var = skip) {}
    }

    .columns (@var) 
        when (@var = skip) {}
        
    .columns (@count: auto, @gap: normal, @width: auto) 
        when not (@count = skip)    {
        -webkit-column-count: @count;
        -moz-column-count: @count;
                column-count: @count;
        -webkit-column-gap: @gap;
        -moz-column-gap: @gap;
                column-gap: @gap;
        -webkit-column-width: @width;
        -moz-column-width: @width;
                column-width: @width;
    }

    .fixed {
        .align        (@var) 
            when (@var = skip) {}
        .left-top     (@var) 
            when (@var = skip) {}
        .left-bottom  (@var) 
            when (@var = skip) {}
        .right-top    (@var) 
            when (@var = skip) {}
        .right-bottom (@var) 
            when (@var = skip) {}
    }

    .fixed {
        .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when not (@top = skip) and (@query = 0) 
        {
        .position.align(fixed, @top, @right, @bottom, @left);
        }
        .left-top (@left: auto, @top: auto) 
            when not (@left = skip) 
        {
            .position.left-top(fixed, @left, @top);
        }
        .left-bottom (@left: auto, @bottom: auto) 
            when not (@left = skip) 
        {
            .position.left-bottom(fixed, @left, @bottom);
        }
        .right-top (@right: auto, @top: auto) 
            when not (@right = skip) 
        {
            .position.right-top(fixed, @right, @top);
        }
        .right-bottom (@right: auto, @bottom: auto) 
            when not (@right = skip) 
        {
            .position.right-bottom(fixed, @right, @bottom);
        }
    }

    .fixed {
        .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when (@query > 0) 
        {
            @media all and (min-width: @query) {
                .fixed.align(@top, @right, @bottom, @left);
            }
        }
    }

    .float (@var) 
        when (@var = skip) {}

    .float (@float: none, @query: 0) 
        when not (@float = skip) and (@query = 0)   
    {
        float: @float;
    }

    .float (@float: none, @query: 0) 
        when (@query > 0)   
    {
        @media all and (min-width: @query) {
            .float(@float);
        } 
    }

    .index (@var) 
        when (@var = skip) {}

    .index (@index: 0, @query: 0) 
        when not (@index = skip) and (@query = 0)   
    {
        z-index: @index;
    }

    .index (@index: 0, @query: 0) 
        when (@query > 0)   
    {
        @media all and (min-width: @query) {
            .index(@index);
        }
    }

    .position (@var) 
        when (@var = skip) {}

    .position (@position: static, @query: 0) 
        when not (@position = skip) and (@query = 0)    {
        position: @position;
    }

    .position (@position: absolute, @query: 0) 
        when (@query > 0)   
    {
        @media all and (min-width: @query) {
            .position(@position);
        }
    }

    .position {
        .align (@position: relative, @top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when (@query > 0) 
        {
            @media all and (min-width: @query) {
                .position.align(@position, @top, @right, @bottom, @left);
            }
        }
    }

    .position {
        .align        (@var) 
            when (@var = skip) {}
        .left-top     (@var) 
            when (@var = skip) {}
        .left-bottom  (@var) 
            when (@var = skip) {}
        .right-top    (@var) 
            when (@var = skip) {}
        .right-bottom (@var) 
            when (@var = skip) {}
    }

    .position {
        .align (@position: relative, @top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when not (@position = skip) and (@query = 0) 
        {
            position: @position;
            top: @top; 
            right: @right;
            bottom: @bottom;
            left: @left;
        }
        .left-top (@position: relative, @left: auto, @top: auto) 
            when not (@position = skip) 
        {
            position: @position;
            left: @left;
            top: @top; 
        }
        .left-bottom (@position: relative, @left: auto, @bottom: auto) 
            when not (@position = skip) 
        {
            position: @position;
            left: @left;
            bottom: @bottom;
        }
        .right-top (@position: relative, @right: auto, @top: auto) 
            when not (@position = skip) 
        {
            position: @position;
            right: @right;
            top: @top; 
        }
        .right-bottom (@position: relative, @right: auto, @bottom: auto) 
            when not (@position = skip) 
        {
            position: @position;
            right: @right;
            bottom: @bottom;
        }
    }

    .relative {
        .align        (@var) 
            when (@var = skip) {}
        .left-top     (@var) 
            when (@var = skip) {}
        .left-bottom  (@var) 
            when (@var = skip) {}
        .right-top    (@var) 
            when (@var = skip) {}
        .right-bottom (@var) 
            when (@var = skip) {}
    }

    .relative {
        .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when not (@top = skip) and (@query = 0) 
        {
            .position.align(relative, @top, @right, @bottom, @left);
        }
        .left-top (@left: auto, @top: auto) 
            when not (@left = skip) 
        {
            .position.left-top(relative, @left, @top);
        }
        .left-bottom (@left: auto, @bottom: auto) 
            when not (@left = skip) 
        {
            .position.left-bottom(relative, @left, @bottom);
        }
        .right-top (@right: auto, @top: auto) 
            when not (@right = skip) 
        {
            .position.right-top(relative, @right, @top);
        }
        .right-bottom (@right: auto, @bottom: auto) 
            when not (@right = skip) 
        {
            .position.right-bottom(relative, @right, @bottom);
        }
    }

    .relative {
        .align (@top: auto, @right: auto, @bottom: auto, @left: auto, @query: 0) 
            when (@query > 0) 
        {
            @media all and (min-width: @query) {
                .relative.align(@top, @right, @bottom, @left);
            }
        }
    }